<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="überschrift">
        <a>Pesto aus Karottengrün</a>
    </div>

    <div class="überschriftbild">
    </div>

    <div class="überschrifttext">
        <a>Dieses Pesto dient als Resteverwertung für Möhren mit Grün, aber auch als ideales Mitbringsel zu Ostern. Es
            schmeckt zu Nudeln, aber auch zu Gemüse, wie Tomaten und Gurken.
        </a>
    </div>

    <div class="unterschrifttext">
        <a>Beliebt ist auch die Alternative des </a>
        <a class="kategorieunterschrift hyperlinkentfernen " routerLink="/basilikumpesto"><u>Pestos aus
                Basilikum</u></a>
        <a>!
            <br /> Die Menge ergibt etwa zwei kleine Einmachgläser.
        </a>
    </div>

    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="35 g (~ 1 Bund)" bezeichnung="Möhrengrün"></app-zutat>
        <app-zutat menge="30 g" bezeichnung="Parmesan"></app-zutat>
        <app-zutat menge="1" bezeichnung="Knoblauchzehe"></app-zutat>
        <app-zutat menge="20 g" bezeichnung="Pinienkerne"></app-zutat>
        <app-zutat menge="60 g" bezeichnung="Olivenöl"></app-zutat>
        <app-zutat menge="" bezeichnung="Salz, Pfeffer"></app-zutat>


    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung="Schüssel oder höheres Gefäß"></app-zutat>
        <app-zutat menge="ggf." bezeichnung="Standmixer oder Mulinette"></app-zutat>

    </div>


    <div class="schritte">
        <div>
            <a class="schrittüberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Möhrengrün.jpg" schrittuntertitelmenge="35 g"
                    schrittuntertitel="Möhrengrün"></app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Zunächst die Blätter des Möhrengrüns vom Strung entfernen und wiegen. 1 Bund entspricht in etwa der
                    Menge von 35 g. Je nach Gewicht können dann die
                    anderen Zutaten angepasst werden. Erst nach dem Wiegen ordentlich waschen!</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 2</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Parmesan.jpg" schrittuntertitelmenge="30 g"
                    schrittuntertitel="Parmesan"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Den Parmesan in grobe Stücke schneiden und in eine Schüssel geben. Es kann auch fertig geriebener
                    genommen werden, der meinst geschmacklich aber nicht so intensiv ist.
                </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 3</a>

            <div class="schrittzutaten">

                <app-schrittzutat schrittzutatenbild="assets/img/Knoblauch.jpg" schrittuntertitelmenge="1"
                    schrittuntertitel="Knoblauchzehe"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Die Knoblauchzehen putzen und ggf. ein- bis zweimal halbieren. Dann ebenfalls zum Parmesan in die
                    Schüssel geben.
                </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 4</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Pinienkerne.jpg" schrittuntertitelmenge="20 g"
                    schrittuntertitel="Pinienkerne"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a> Die Pinienkerne in einer beschichteten Pfanne ohne Öl anrösten und zu den anderen Zutaten geben.
                </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 5</a>

            <div class="schrittzutaten">

                <app-schrittzutat schrittzutatenbild="assets/img/Olivenöl.jpg" schrittuntertitelmenge="60 g"
                    schrittuntertitel="Olivenöl"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Salz.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="Salz"></app-schrittzutat>


                <app-schrittzutat schrittzutatenbild="assets/img/Pfeffer.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="Pfeffer"></app-schrittzutat>


            </div>

            <div class="schrittbeschreibung">
                <a>Olivenöl, etwas Salz und Pfeffer in die Schüssel geben und anfangen zu pürieren.
                </a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 5</a>

            <div class="schrittzutaten">

                <app-schrittzutat schrittzutatenbild="assets/img/Möhrengrün.jpg" schrittuntertitelmenge="35 g"
                    schrittuntertitel="Möhrengrün"></app-schrittzutat>


            </div>

            <div class="schrittbeschreibung">
                <a> Sobald die groben Bestandteile einigermaßen zwerkleinert wurden, kann das Möhrengrün hizugegeben
                    werden.
                    <br /> Dann weiter pürieren bis die gewünschte Pestostruktur entstanden ist.

                </a>
            </div>

        </div>


        <div>
            <a class="schrittüberschrift"> Schritt 6</a>

            <div class="schrittzutaten">

            </div>

            <div class="schrittbeschreibung">
                <a> Abgeschmeckt kann das Ganze noch mit Olivenöl, Parmesan und Salz.
                    Das fertige Pesto in sterile Gläser füllen oder direkt aufessen.
                </a>

                <br /> <u>Tipp: </u>
                <a> Das Pesto lässt sich super einfrieren und kann nach Bedarf aufgetaut werden. Eingefroren hält es
                    mehrere Monate.
                </a>
            </div>

        </div>

    </div>

    <div class="abschluss">
        <a>Guten Appetit!</a>
    </div>

</div>