<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="überschrift">
        <a>Grießbrei</a>
    </div>

    <div class="überschriftbild">
    </div>

    <div class="überschrifttext">
        <a>Als Kind wäre ich vor Grießbrei davon gerannt, aber mein Freund hat mir gezeigt, dass Grießbrei der leckerste
            Nachtisch überhaupt ist!!
            <br /> Ich liebe dazu Zucker-Zimt, während er Rote-Grütze bevorzugt.
        </a>
    </div>

    <div class="unterschrifttext">
        <a>Die Menge reicht für zwei größere Portionen.
        </a>
    </div>

    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="600 ml" bezeichnung="Milch"></app-zutat>
        <app-zutat menge="1 EL" bezeichnung="Zucker"></app-zutat>
        <app-zutat menge="1 Pkg." bezeichnung="Vanillezucker"></app-zutat>
        <app-zutat menge="1 Prise" bezeichnung="Salz"></app-zutat>
        <app-zutat menge="60 g" bezeichnung="Weichweizengrieß"></app-zutat>
        <app-zutat menge="1 EL" bezeichnung="Butter"></app-zutat>
        <app-zutat menge="1" bezeichnung="Ei (getrennt)"></app-zutat>

    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung="größerer Topf"></app-zutat>
        <app-zutat menge="" bezeichnung="Herdplatte"></app-zutat>
        <app-zutat menge="" bezeichnung="Schneebesen"></app-zutat>
        <app-zutat menge="" bezeichnung="Mixer mit Schneebesen"></app-zutat>

    </div>


    <div class="schritte">
        <div>
            <a class="schrittüberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Milch.jpg" schrittuntertitelmenge="600 ml"
                    schrittuntertitel="Milch"></app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Zuerst die Milch in einen großen Topf geben und zum Kochen bringen.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 2</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Zucker.jpg" schrittuntertitelmenge="1 EL"
                    schrittuntertitel="Zucker"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Vanillezucker.jpg" schrittuntertitelmenge="1 Pkg."
                    schrittuntertitel="Vanillezucker"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Salz.jpg" schrittuntertitelmenge="1 Prise"
                    schrittuntertitel="Salz"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Während die Milch langsam warm wird können Zucker, Vanillezucker und Salz schon hinzugefügt werden.
                    <br/> <br/> <u>Tipp: </u> Die Zuckermenge kann hier schon bei Bedarf erhöht werden, aber auch noch im Nachhinein bei jeder Portion einzeln untergerührt werden.
                </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 3</a>

            <div class="schrittzutaten">

                <app-schrittzutat schrittzutatenbild="assets/img/Weichweizengrieß.jpg" schrittuntertitelmenge="60 g"
                schrittuntertitel="Weichweizengrieß"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Sobald die Milch kocht, kann der Grieß hinzugefügt werden. 
                    Erneut aufkochen und dann für etwa 5 Minuten bei kleiner oder ausgeschalteten Herdplatte ziehen lassen.
                    <br/> <br/> <u>Tipp: </u> Um Klumpen zu vermeiden, kann am besten ein Schneebesen verwendet werden.
                </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 4</a>

            <div class="schrittzutaten">

                <app-schrittzutat schrittzutatenbild="assets/img/Eier.jpg" schrittuntertitelmenge="1"
                schrittuntertitel="Ei"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>In der Zwischenzeit das Ei trennen und das Eiweiß steifschlagen.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 5</a>

            <div class="schrittzutaten">

                <app-schrittzutat schrittzutatenbild="assets/img/Eigelb.jpg" schrittuntertitelmenge="1"
                    schrittuntertitel="Eigelb"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Butter.jpg" schrittuntertitelmenge="1 EL"
                    schrittuntertitel="Butter"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Sind die 5 Minuten abgelaufen kann das Eigelb und die Butter untergerührt werden.
                    <br/> <br/> <u>Tipp: </u> Wenn die Masse noch recht flüssig sein sollte, kann die Zeit zum Ziehen verlängert werden. 
                    <br/> Alternativ noch etwas Grieß hinzufügen und ab Schritt 2 alles wiederholen.
                </a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 6</a>

            <div class="schrittzutaten">

                <app-schrittzutat schrittzutatenbild="assets/img/Eiweiß.jpg" schrittuntertitelmenge="1"
                    schrittuntertitel="Eiweiß (steifgeschlagen)"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Wenn die Butter komplett geschmolzen ist, kann der Eischnee vorsichtig untergehoben werden. Anschließend in Schälchen füllen und individuell mit Toppings verfeinern.
                </a>
            </div>

        </div>

    </div>

    <div class="abschluss">
        <a>Guten Appetit!</a>
    </div>

</div>