<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="überschrift">
        <a>Schokobananenbrot</a>
    </div>

    <div class="überschriftbild">
        <img src="assets/img/schokobananenbrot.jpg">
    </div>

    <div class="überschrifttext">
        <a>
        </a>
    </div>

    <div class="unterschrifttext">
        <a> </a>
    </div>


    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="" bezeichnung=""></app-zutat>
        <app-zutat menge="" bezeichnung=""></app-zutat>
        <app-zutat menge="" bezeichnung=""></app-zutat>
        <app-zutat menge="" bezeichnung=""></app-zutat>
        <app-zutat menge="" bezeichnung=""></app-zutat>

    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung=""></app-zutat>
        <app-zutat menge="" bezeichnung=""></app-zutat>

    </div>


    <div class="schritte">
        <div>
            <a class="schrittüberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/.jpg" schrittuntertitelmenge="" schrittuntertitel="">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/.jpg" schrittuntertitelmenge="" schrittuntertitel="">
                </app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a></a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 2</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/.jpg" schrittuntertitelmenge="" schrittuntertitel="">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/.jpg" schrittuntertitelmenge="" schrittuntertitel="">
                </app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a></a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 3</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/.jpg" schrittuntertitelmenge="" schrittuntertitel="">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/.jpg" schrittuntertitelmenge="" schrittuntertitel="">
                </app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a></a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 4</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/.jpg" schrittuntertitelmenge="" schrittuntertitel="">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/.jpg" schrittuntertitelmenge="" schrittuntertitel="">
                </app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a></a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 5</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/.jpg" schrittuntertitelmenge="" schrittuntertitel="">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/.jpg" schrittuntertitelmenge="" schrittuntertitel="">
                </app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a></a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 6</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/.jpg" schrittuntertitelmenge="" schrittuntertitel="">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/.jpg" schrittuntertitelmenge="" schrittuntertitel="">
                </app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a></a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 7</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/.jpg" schrittuntertitelmenge="" schrittuntertitel="">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/.jpg" schrittuntertitelmenge="" schrittuntertitel="">
                </app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a></a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 8</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/.jpg" schrittuntertitelmenge="" schrittuntertitel="">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/.jpg" schrittuntertitelmenge="" schrittuntertitel="">
                </app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a></a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 9</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/.jpg" schrittuntertitelmenge="" schrittuntertitel="">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/.jpg" schrittuntertitelmenge="" schrittuntertitel="">
                </app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a></a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 10</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/.jpg" schrittuntertitelmenge="" schrittuntertitel="">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/.jpg" schrittuntertitelmenge="" schrittuntertitel="">
                </app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a></a>
            </div>

        </div>

    </div>

    <div class="abschluss">
        <a>Guten Appetit!</a>
    </div>

</div>