<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="überschrift">
        <a>Milchreis</a>
    </div>

    <div class="überschriftbild">
        <img src="assets/img/Milchreisfertig.jpg">
    </div>

    <div class="überschrifttext">
        <a>Milchreis eignet sich als Mittag- bzw. Abendessen, aber auch super als Nachtisch. Ähnlich wie bei </a>
            <a class="kategorieunterschrift hyperlinkentfernen " routerLink="/griessbrei"><u>Grießbrei</u></a>
            <a> sind hier bezüglich der Toppings keine Grenzen gesetzt. Die Klassiker sind aber wahrscheinlich
                Zucker-Zimt oder Rote-Grütze.
            </a>
    </div>

    <div class="unterschrifttext">
        <a>Die Menge reicht für zwei größere Portionen.
        </a>
    </div>

    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="1 EL" bezeichnung="Butter"></app-zutat>
        <app-zutat menge="125 g" bezeichnung="Milchreis"></app-zutat>
        <app-zutat menge="500 ml" bezeichnung="Milch"></app-zutat>
        <app-zutat menge="2 EL" bezeichnung="Zucker"></app-zutat>
        <app-zutat menge="1 Pkg." bezeichnung="Vanillezucker"></app-zutat>

    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung="größerer Topf"></app-zutat>
        <app-zutat menge="" bezeichnung="Herdplatte"></app-zutat>

    </div>


    <div class="schritte">
        <div>
            <a class="schrittüberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Butter.jpg" schrittuntertitelmenge="1 EL"
                    schrittuntertitel="Butter"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Milchreis.jpg" schrittuntertitelmenge="125 g"
                    schrittuntertitel="Milchreis"></app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Zuerst die Butter in einem größeren Topf schmelzen lassen und den Milchreis kurz darin anschwitzen lassen.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 2</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Milch.jpg" schrittuntertitelmenge="500 ml"
                    schrittuntertitel="Milch"></app-schrittzutat>
                    
                    <app-schrittzutat schrittzutatenbild="assets/img/Zucker.jpg" schrittuntertitelmenge="2 EL"
                        schrittuntertitel="Zucker"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Vanillezucker.jpg" schrittuntertitelmenge="1 Pkg."
                    schrittuntertitel="Vanillezucker"></app-schrittzutat>


            </div>

            <div class="schrittbeschreibung">
                <a>Mit der Milch "ablöschen" und den Zucker hinzufügen.
                    <br /> <br /> <u>Tipp: </u> Die Zuckermenge kann hier schon bei Bedarf erhöht werden, aber auch noch
                    im Nachhinein bei jeder Portion einzeln untergerührt werden.
                </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 3</a>

            <div class="schrittzutaten">

            </div>

            <div class="schrittbeschreibung">
                <a>Das Ganze einmal aufkochen lassen. Dabei regelmäßig umrühren damit nichts anbrennt. 
                    
                </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 4</a>

            <div class="schrittzutaten">

            </div>

            <div class="schrittbeschreibung">
                <a>Dann etwa 30 Minuten bei geringer Hitze und geschlossenem Topf leicht köcheln lassen. 
                    <br/>Alle 10 bis 15 Minuten umrühren.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 5</a>

            <div class="schrittzutaten">

            </div>

            <div class="schrittbeschreibung">
                <a> Zum Ende der Garzeit probieren, ob die Garstufe des Reises stimmt. Der Milchreis kann sowohl warm als auch kalt serviert werden.
                </a>
            </div>

        </div>

    </div>

    <div class="abschluss">
        <a>Guten Appetit!</a>
    </div>

</div>