<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="ueberschrift">
        <a>Mango-Ramazotti Drink</a>
    </div>

    <div class="ueberschriftbild">
    </div>

    <div class="ueberschrifttext">
        <a>Dieser Cocktail ist fruchtig-sommerlich. Unten ist auch eine Abwandlung eingefuegt fuer alle, die den
            Sektgeschmack nicht so sehr mögen.</a>
    </div>

    <div class="unterschrifttext">
        <a>Das Rezept bezieht sich auf ein Weinglas. </a>
    </div>

    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="8 cl" bezeichnung="Ramazotti Rosato"></app-zutat>
        <app-zutat menge="8 cl" bezeichnung="Mangosaft"></app-zutat>
        <app-zutat menge="" bezeichnung="Sekt"></app-zutat>
        <app-zutat menge="" bezeichnung="Eiswuerfel"></app-zutat>
        <app-zutat menge="" bezeichnung="TK-Himbeeren"></app-zutat>

        <app-zutat class="topspacer" menge="16 cl" bezeichnung="Ramazotti Rosato"></app-zutat>
        <app-zutat menge="16 cl" bezeichnung="Sekt"></app-zutat>
        <app-zutat menge="" bezeichnung="Mangosaft"></app-zutat>
        <app-zutat menge="einige" bezeichnung="Eiswuerfel"></app-zutat>
        <app-zutat menge="" bezeichnung="TK-Himbeeren"></app-zutat>


    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung="Jigger oder Schnappsglas"></app-zutat>
        <app-zutat menge="pro Cocktail" bezeichnung="Strohhalm"></app-zutat>

    </div>


    <div class="schritte">
        <div>
            <a class="schrittueberschrift"> Schritt 1 - Original</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Ramazottirosato.jpg" schrittuntertitelmenge="8 cl"
                    schrittuntertitel="Ramazotti Rosato"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Mangosaft.jpg" schrittuntertitelmenge="8 cl"
                    schrittuntertitel="Mangosaft"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a> Ramazotti Rosato und Mangosaft in ein Weinglas oder ähnlichem abmessen. </a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 2 - Original</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Eiswuerfel.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="Eiswuerfel"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/TKHimbeeren.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="TK-Himbeeren"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Ggf. Eiswuerfel und eine handvoll tiefgekuehlter Himbeeren in das Glas geben.
                </a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 3 - Original</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Sekt.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="Sekt"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Zum Schluss mit Sekt aufgießen und mit einem Strohhalm servieren.</a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 1 - Abwandlung</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Ramazottirosato.jpg" schrittuntertitelmenge="16 cl"
                    schrittuntertitel="Ramazotti Rosato"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Sekt.jpg" schrittuntertitelmenge="16 cl"
                    schrittuntertitel="Sekt"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a> Ramazotti Rosato und Sekt in ein Weinglas oder ähnlichem abmessen. </a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 2 - Abwandlung</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Eiswuerfel.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="Eiswuerfel"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/TKHimbeeren.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="TK-Himbeeren"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Ggf. Eiswuerfel und eine handvoll tiefgekuehlter Himbeeren in das Glas geben.
                </a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 3 - Abwandlung</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Mangosaft.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="Mangosaft"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Zum Schluss mit Mangosaft aufgießen und mit einem Strohhalm servieren.</a>
            </div>
        </div>

        
    </div>

    <div class="abschluss">
        <a>Prost!</a>
    </div>

</div>