<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="ueberschrift">
        <a>Möhreneintopf</a>
    </div>

    <div class="ueberschriftbild">
        <img src="assets/img/Möhreneintopf.jpg">
    </div>

    <div class="ueberschrifttext">
        <a>Ein Eintopf passt perfekt in die schlechte Jahreszeit. Durch die Mettenden bekommt dieser seinen kräftigen
            Geschmack. Er ist gut vorzubereiten, weil man ihn ruhig mehrmals wieder erwärmen kann.
        </a>
    </div>

    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="75 g" bezeichnung="Butter"></app-zutat>
        <app-zutat menge="2" bezeichnung="Zwiebeln"></app-zutat>
        <app-zutat menge="750 g" bezeichnung="Möhren"></app-zutat>
        <app-zutat menge="375 - 500 ml" bezeichnung="Gemuesebruehe"></app-zutat>

        <app-zutat class="topspacer" menge="4" bezeichnung="Mettenden"></app-zutat>

        <app-zutat class="topspacer" menge="" bezeichnung="Salz, Pfeffer"></app-zutat>
        <app-zutat menge="2 EL" bezeichnung="Petersilie"></app-zutat>

    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung="großer Topf"></app-zutat>
        <app-zutat menge="" bezeichnung="Messer"></app-zutat>

    </div>


    <div class="schritte">
        <div>
            <a class="schrittueberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Zwiebel.jpg" schrittuntertitelmenge="2"
                    schrittuntertitel="Zwiebeln"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Zunächst die Zwiebeln abziehen und fein wuerfeln.</a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 2</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Möhren.jpg" schrittuntertitelmenge="750 g"
                    schrittuntertitel="Möhren"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Kartoffeln.jpg" schrittuntertitelmenge="750 g"
                    schrittuntertitel="Kartoffeln"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Die Möhren und Kartoffeln schälen und in Scheiben bzw. Wuerfel schneiden.</a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 3</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Butter.jpg" schrittuntertitelmenge="75 g"
                    schrittuntertitel="Butter"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Zwiebelwuerfel.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="Zwiebelwuerfel"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a> Die Butter in einem Topf zerlassen und die Zwiebelwuerfel darin anduensten.</a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 4</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Möhrenscheiben.jpg" schrittuntertitelmenge=""
                schrittuntertitel="Möhrenscheiben"></app-schrittzutat> 
            </div>

            <div class="schrittbeschreibung">
                <a>Möhrenscheiben hinzufuegen und etwa 5 Minuten darin anduensten. </a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 5</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Kartoffelwuerfel.jpg" schrittuntertitelmenge=""
                schrittuntertitel="Kartoffelwuerfel"></app-schrittzutat> 
            </div>

            <div class="schrittbeschreibung">
                <a>Dann die Kartoffelwuerfel in den Topf geben und ebenfalls anduensten. </a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 6</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Gemuesebruehe.jpg" schrittuntertitelmenge="375 - 500 ml"
                schrittuntertitel="Gemuesebruehe"></app-schrittzutat> 
            </div>

            <div class="schrittbeschreibung">
                <a>Gemuesebruehe hinzugießen, alles zum Kochen bringen und etwa 10 Minuten garen lassen.</a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 7</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Mettenden.jpg" schrittuntertitelmenge="4"
                    schrittuntertitel="Mettenden"></app-schrittzutat> 
            </div>

            <div class="schrittbeschreibung">
                <a>Die Mettenden in Scheiben schneiden und in den Eintopf legen. Weitere 10 Minuten garen lassen.</a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 8</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Salz.jpg" schrittuntertitelmenge=""
                     schrittuntertitel="Salz"></app-schrittzutat> 
               
                <app-schrittzutat schrittzutatenbild="assets/img/Pfeffer.jpg" schrittuntertitelmenge=""
                     schrittuntertitel="Pfeffer"></app-schrittzutat> 
                
                     <app-schrittzutat schrittzutatenbild="assets/img/Petersilie.jpg" schrittuntertitelmenge="2 EL"
                     schrittuntertitel="Petersilie"></app-schrittzutat> 
            </div>

            <div class="schrittbeschreibung">
                <a>Den Eintopf mit Salz, Pfeffer und der Petersilie abschmecken. </a>
            </div>
        </div>

    </div>

    <div class="abschluss">
        <a>Guten Appetit!</a>
    </div>

</div>