<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="überschrift">
        <a>Weltmeisterbrot</a>
    </div>

    <div class="überschriftbild">
        <img src="assets/img/Weltmeisterbrot.jpg">
    </div>

    <div class="überschrifttext">
        <a>Dieses Brot ist einfach nur lecker! <br />
            Dazu vielleicht einen selbstgemachten Eiersalat oder andere leckere Auflage. Yummie! <br />
            Die Zubereitung ist nicht schwer, jedoch durch die vielen Gär- und eine relativ lange Backzeit relativ
            zeitaufwändig. <br />
            Probiert es vielleicht einfach mal an einem regnerischen Tag aus!
        </a>
    </div>

    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="1/ Würfel" bezeichnung="frische Hefe"></app-zutat>
        <app-zutat menge="120 ml" bezeichnung="warmes Wasser"></app-zutat>
        <app-zutat menge="1 EL + 25 g" bezeichnung="Honig"></app-zutat>
        <app-zutat menge="500 g" bezeichnung="Vollkornmehl"></app-zutat>
        <app-zutat menge="50 g + 2 EL" bezeichnung="Sonnenblumenkerne"></app-zutat>
        <app-zutat menge="30 g + 1 EL" bezeichnung="Mohn"></app-zutat>
        <app-zutat menge="15 g" bezeichnung="Salz"></app-zutat>
        <app-zutat menge="150 g" bezeichnung="Joghurt"></app-zutat>
        <app-zutat menge="2 EL" bezeichnung="Öl"></app-zutat>
        <app-zutat menge="1 EL" bezeichnung="Essig"></app-zutat>

    </div>

    <div class="schritte">
        <div>
            <a class="schrittüberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Hefe.jpg" schrittuntertitelmenge="1/2 Würfel"
                    schrittuntertitel="frische Hefe"></app-schrittzutat>
                <app-schrittzutat schrittzutatenbild="assets/img/Wasser.jpg" schrittuntertitelmenge="120 ml"
                    schrittuntertitel="lauwarmes Wasser"></app-schrittzutat>
                <app-schrittzutat schrittzutatenbild="assets/img/Honig.jpg" schrittuntertitelmenge="1 EL"
                    schrittuntertitel="Honig">
                </app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Zunächst muss die Hefe in dem warmen Wasser mit etwas Honig aufgelöst werden.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 2</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Vollkornmehl.jpg" schrittuntertitelmenge="500 g"
                    schrittuntertitel="Vollkornmehl"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>
                    Das Mehl in eine große Schüssel geben und mit dem Löffel in der Mitte eine Mulde formen.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 3</a>

            <div class="schrittbeschreibung">
                <a> Dann die Hefe-Wasser Mischung in die Kuhle hineingeben und die Flüssigkeit vorsichtig mit dem Mehl
                    bedecken.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 4</a>

            <div class="schrittbeschreibung">
                <a>Den Vorteig etwa eine halbe Stunde abgedeckt an einem warmen Ort stehen lassen bis die Hefe anfängt
                    zu schäumen.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 5</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Sonnenblumenkerne.jpg" schrittuntertitelmenge="50 g"
                    schrittuntertitel="Sonnenblumenkerne"></app-schrittzutat>
                
                <app-schrittzutat schrittzutatenbild="assets/img/Mohn.jpg" schrittuntertitelmenge="30 g"
                    schrittuntertitel="Mohn"></app-schrittzutat>   
                   
                <app-schrittzutat schrittzutatenbild="assets/img/Salz.jpg" schrittuntertitelmenge="15 g"
                    schrittuntertitel="Salz"></app-schrittzutat> 

                <app-schrittzutat schrittzutatenbild="assets/img/Joghurt.jpg" schrittuntertitelmenge="150 g"
                    schrittuntertitel="Joghurt"></app-schrittzutat> 
                
                <app-schrittzutat schrittzutatenbild="assets/img/Honig.jpg" schrittuntertitelmenge="25 g"
                    schrittuntertitel="Honig"></app-schrittzutat> 
                
            </div>

            <div class="schrittbeschreibung">
                <a>Zum Vorteig die restlichen Zutaten hinzufügen und ordentlich durchkneten bis ein homogener Teig
                    entsteht.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 6</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Sonnenblumenöl.jpg" schrittuntertitelmenge="2 EL"
                    schrittuntertitel="Sonnenblumenöl"></app-schrittzutat> 
                
                <app-schrittzutat schrittzutatenbild="assets/img/Essig.jpg" schrittuntertitelmenge="1 EL"
                    schrittuntertitel="Essig"></app-schrittzutat> 
                
            </div>

            <div class="schrittbeschreibung">
                <a>Zum Ende hin Essig und Öl hinzufügen.</a>
            </div>
        </div>


        <div>
            <a class="schrittüberschrift"> Schritt 7</a>

            <div class="schrittbeschreibung">
                <a>Den Brotteig zu einer Kugel formen und eine halbe Stunde abgedeckt an einem warmen Ort ruhen
                    lassen.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 8</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Wasser.jpg" schrittuntertitelmenge="etwas"
                    schrittuntertitel="Wasser"></app-schrittzutat> 

                <app-schrittzutat schrittzutatenbild="assets/img/Sonnenblumenkerne.jpg" schrittuntertitelmenge="2 EL"
                    schrittuntertitel="Sonnenblumenkerne"></app-schrittzutat> 
                
                <app-schrittzutat schrittzutatenbild="assets/img/Mohn.jpg" schrittuntertitelmenge="1 EL"
                    schrittuntertitel="Mohn"></app-schrittzutat> 

            </div>

            <div class="schrittbeschreibung">
                <a>Den Brotteig noch einmal kräftig durchkneten und zu einem Laib formen. Die Oberfläche anfeuchten und
                    mit den restlichen Kernen bestreuen. Die Oberfläche mit vier Schnitten anschneiden. </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 9</a>

            <div class="schrittbeschreibung">
                <a>Den Brotteig an einem warmen Ort etwa eine halbe Stunde ruhen lassen.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 10</a>

            <div class="schrittbeschreibung">
                <a>Eine feuerfeste Tasse mit Wasser füllen und in den Backofen stellen. Diesen anschließend
                    auf 160 °C Umluft vorheizen.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 11</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Backofen160Um60min.jpg"></app-schrittzutat> 
            </div>

            <div class="schrittbeschreibung">
                <a>Sobald der Backofen die Temperatur erreicht hat, kann das Brot hineingegeben werden. Es muss für etwa
                    eine Stunde gebacken werden.</a>
            </div>
        </div>

    </div>

    <div class="abschluss">
        <a>Guten Appetit!</a>
    </div>

</div>