<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="ueberschrift">
        <a>Marmorkuchen</a>
    </div>

    <div class="ueberschriftbild">
    </div>

    <div class="ueberschrifttext">
        <a>Einer der Klassiker meiner Oma. Der Kuchen ist durch die dunkle Schicht ein wenig trockener als andere. </a>
    </div>

    <div class="unterschrifttext">
        <a>
        </a>
    </div>

    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="etwas" bezeichnung="Margarine"></app-zutat>

        <app-zutat class="topspacer" menge="4" bezeichnung="Eier (getrennt)"></app-zutat>
        <app-zutat menge="1 Prise" bezeichnung="Salz"></app-zutat>
        <app-zutat menge="150 g" bezeichnung="Zucker"></app-zutat>
        <app-zutat menge="1 Pkg." bezeichnung="Vanillezucker"></app-zutat>
        <app-zutat menge="250 g" bezeichnung="weiche Butter"></app-zutat>
        <app-zutat menge="1/8 L" bezeichnung="Milch"></app-zutat>
        <app-zutat menge="375 g" bezeichnung="Mehl"></app-zutat>
        <app-zutat menge="125 g" bezeichnung="Speisestärke"></app-zutat>
        <app-zutat menge="1 Pkg." bezeichnung="Backpulver"></app-zutat>

        <app-zutat class="topspacer" menge="100 g" bezeichnung="Zucker"></app-zutat>
        <app-zutat menge="2 - 3 EL" bezeichnung="Milch"></app-zutat>
        <app-zutat menge="50 g" bezeichnung="Backkakao"></app-zutat>
        <app-zutat menge="50 g" bezeichnung="gemahlene Mandeln"></app-zutat>
    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung="Springform mit Loch"></app-zutat>
        <app-zutat menge="" bezeichnung="Ruehrschuessel"></app-zutat>
        <app-zutat menge="" bezeichnung="Mixer mit Schneebesen"></app-zutat>
        <app-zutat menge="" bezeichnung="Gabel"></app-zutat>
        <app-zutat menge="" bezeichnung="Backofen"></app-zutat>
    </div>


    <div class="schritte">
        <div>
            <a class="schrittueberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
             
                <app-schrittzutat schrittzutatenbild="assets/img/Margarine.jpg" schrittuntertitelmenge="etwas"
                schrittuntertitel="Margarine"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/SpringformmitLoch.jpg" schrittuntertitelmenge=""
                schrittuntertitel="Springform mit Loch "></app-schrittzutat>
           
            </div>

            <div class="schrittbeschreibung">
                <a>Als erstes die Springform mit Loch einfetten.
                </a>
            </div>

        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 2</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Eier.jpg" schrittuntertitelmenge="4"
                    schrittuntertitel="Eier"></app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Zuerst muessen die Eier getrennt werden.</a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 3</a>

            <div class="schrittzutaten">

                <app-schrittzutat schrittzutatenbild="assets/img/Eiweiß.jpg" schrittuntertitelmenge="4"
                    schrittuntertitel="Eiweiß"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Salz.jpg" schrittuntertitelmenge="1 Prise"
                    schrittuntertitel="Salz"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Das Eiweiß mit einer Prise Salz steif schlagen.
                </a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 4</a>

            <div class="schrittzutaten">

                <app-schrittzutat schrittzutatenbild="assets/img/Eigelb.jpg" schrittuntertitelmenge="4"
                schrittuntertitel="Eigelb"></app-schrittzutat>

                
                <app-schrittzutat schrittzutatenbild="assets/img/Zucker.jpg" schrittuntertitelmenge="150 g"
                schrittuntertitel="Zucker"></app-schrittzutat>

                
                <app-schrittzutat schrittzutatenbild="assets/img/Vanillezucker.jpg" schrittuntertitelmenge="1 Pkg."
                schrittuntertitel="Vanillezucker"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Das Eigelb mit dem Zucker schaumig schlagen.
                </a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 5</a>

            <div class="schrittzutaten">
                
                <app-schrittzutat schrittzutatenbild="assets/img/Butter.jpg" schrittuntertitelmenge="250 g"
                schrittuntertitel="weiche Butter"></app-schrittzutat>
                
                <app-schrittzutat schrittzutatenbild="assets/img/Milch.jpg" schrittuntertitelmenge="1/8 L"
                schrittuntertitel="Milch"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Butter und Milch zum Eigelbschaum geben und verruehren. </a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 6</a>

            <div class="schrittzutaten">

                <app-schrittzutat schrittzutatenbild="assets/img/Mehl.jpg" schrittuntertitelmenge="375 g"
                schrittuntertitel="Mehl"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Speisestärke.jpg" schrittuntertitelmenge="125 g"
                schrittuntertitel="Speisestärke"></app-schrittzutat>
                
                <app-schrittzutat schrittzutatenbild="assets/img/Backpulver.jpg" schrittuntertitelmenge="1 Pkg."
                schrittuntertitel="Backpulver"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a> Mehl, Speisestärke und Backpulver mischen, sieben und vorsichtig unter die Eigelbmenge geben.
                </a>
            </div>

        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 7</a>

            <div class="schrittzutaten">

            </div>

            <div class="schrittbeschreibung">
                <a> Anschließend das Eiweiß unter den Teig heben.
                </a>
            </div>

        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 8</a>

            <div class="schrittzutaten">

            </div>

            <div class="schrittbeschreibung">
                <a> Die Hälfte des Teiges in eine eingefettete Springform geben.
                </a>
            </div>

        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 9</a>

            <div class="schrittzutaten">

                <app-schrittzutat schrittzutatenbild="assets/img/Zucker.jpg" schrittuntertitelmenge="100 g"
                schrittuntertitel="Zucker"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Milch.jpg" schrittuntertitelmenge="2 - 3 EL"
                schrittuntertitel="Milch"></app-schrittzutat>
                
                <app-schrittzutat schrittzutatenbild="assets/img/Kakao.jpg" schrittuntertitelmenge="50 g"
                schrittuntertitel="Backkakao"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/gemahleneMandeln.jpg" schrittuntertitelmenge="50 g"
                schrittuntertitel="gemahlene Mandeln"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a> Die restlichen Zutaten zu dem Teig geben, sodass eine dunkle Masse entsteht. DIese auf dem hellen Teig in die Springform geben.
                </a>
            </div>

        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 10</a>

            <div class="schrittzutaten">

                <app-schrittzutat schrittzutatenbild="assets/img/Backofen180OU50min.jpg" schrittuntertitelmenge=""
                schrittuntertitel=""></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a> Mit einer Gabel beide Teigschichten miteinander vermengen, sodass eine Marmorierung entsteht.
                </a>
            </div>

        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 11</a>

            <div class="schrittzutaten">

            </div>

            <div class="schrittbeschreibung">
                <a> Bei 180 C Ober-/unterhitze 50 bis 60 Minuten lang backen.
                </a>
            </div>

        </div>

    </div>

    <div class="abschluss">
        <a>Guten Appetit!</a>
    </div>

</div>