<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="ueberschrift">
        <a>Pina Colada</a>
    </div>

    <div class="ueberschriftbild">
    </div>

    <div class="ueberschrifttext">
        <a>"Do you like Pina Colada?"
            <br /> Dieser Cocktail ist fuer mich Sommer, Sonne und Urlaub! Also einfach einen Cocktail schnappen, die
            Augen schließen und zack ist man am Meer!
            <br /> <br /> Der Cocktail enthält zwar Sahne, ist aber nicht so sättigend und mächtig wie manche anderen.
        </a>
    </div>

    <div class="unterschrifttext">
        <a>Das Rezept ist fuer ein kleineres Glas.
        </a>
    </div>

    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="4 cl" bezeichnung="Batida de Coco"></app-zutat>
        <app-zutat menge="2 cl" bezeichnung="weißer Rum"></app-zutat>
        <app-zutat menge="6 cl" bezeichnung="Ananassaft"></app-zutat>
        <app-zutat menge="etwas" bezeichnung="Zitronensaft"></app-zutat>
        <app-zutat menge="2 cl" bezeichnung="Zuckersirup"></app-zutat>
        <app-zutat menge="2 cl" bezeichnung="Sahne"></app-zutat>
        <app-zutat menge="einige" bezeichnung="Eiswuerfel"></app-zutat>

    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung="Cocktailshaker oder ähnliches"></app-zutat>
        <app-zutat menge="pro Cocktail" bezeichnung="größeres Saft- oder Cocktailglas "></app-zutat>
        <app-zutat menge="" bezeichnung="Jigger oder Schnappsglas"></app-zutat>
        <app-zutat menge="pro Cocktail" bezeichnung="Strohhalm"></app-zutat>

    </div>


    <div class="schritte">
        <div>
            <a class="schrittueberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/BatidaDeCoco.jpg" schrittuntertitelmenge="4 cl"
                    schrittuntertitel="Batida de Coco"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/weißerRum.jpg" schrittuntertitelmenge="2 cl"
                    schrittuntertitel="weißer Rum"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Ananassaft.jpg" schrittuntertitelmenge="6 cl"
                    schrittuntertitel="Ananassaft"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Zitronensaft.jpg" schrittuntertitelmenge="etwas"
                    schrittuntertitel="Zitronensaft"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Zuckersirup.jpg" schrittuntertitelmenge="2 cl"
                    schrittuntertitel="Zuckersirup"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Sahne.jpg" schrittuntertitelmenge="2 cl"
                    schrittuntertitel="Sahne"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Eiswuerfel.jpg" schrittuntertitelmenge="einige"
                    schrittuntertitel="Eiswuerfel"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Batida de Coco, weißen Rum, Ananassaft, Zitronnensaft, Zuckersirup sowie Sahne abmessen und in den
                    Cocktailshaker geben.
                    Zusätzlich ein paar Eiswuerfel hinzufuegen und kräftig shaken. </a>

                    <br/> <u>Tipp: </u> <a class="hyperlinkentfernen "
                        routerLink="/zuckersirup"><u>Zuckersirup</u></a>
                    <a> lässt sich auch ganz einfach selber herstellen!
                    </a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 2</a>

            <div class="schrittzutaten">

            </div>

            <div class="schrittbeschreibung">
                <a>Den geshakten Cocktail in ein Wasser- oder Cocktailglas umfuellen, einen Strohhalm hineingeben und servieren.</a>
            </div>
        </div>

    </div>

    <div class="abschluss">
        <a>Prost!</a>
    </div>

</div>