$fontsizeHeader: 1rem;
$fontsizeFließtext: 18px;
$fontsizeHeadinggroß: 47px;
$fontsizeFließtextgroß: 18px;
$Abstandfließtext: 1px;
$Abstandfließtextgroß: 100px;

$font-familyRezepte: "Nunito Sans";
$font-familyStandard: "Kalam";
$font-familyPersönlicherText: "Crafty Girls";
$font-familyUnterschrift: "Rock Salt";
$font-familyUeberschrift: "Satisfy";

.headercontainer {
    background-color: #ce152b;
    color: white;
    height: 80 px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: grid;
    grid-template-columns: 15% auto auto;
    grid-template-rows: 80px;
    grid-template-areas: "headerlogo home meinerezepte glossar";
}

.headercontainer div {
    margin: auto;
    font-size: $fontsizeHeader;
    font-family: $font-familyStandard;
}

.headercontainer a {
    color: white;
    text-decoration: none;
}

.headerlogo {
    grid-area: headerlogo;
    width: 100%;
    height: 100%;
}

.headerlogo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 70%;
}

.home {
    grid-area: home;
}

.meierezepte {
    grid-area: meinerezepte;
}

.glossar {
    grid-area: glossar;
}

.current a {
    color: #ddb88c;
}

.gridcontainer {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-areas:
        "Ueberschrift"
        "Searching"
        "kategorie"
        "kategorieueberschrift"
        "kategorieunterschrift";
    position: absolute;
    top: 100px;
    grid-row-gap: 15px;
    width: 100%;
}

.Ueberschrift {
    grid-area: Ueberschrift;
    text-align: center;
    color: #ce152b;
    font-family: $font-familyUeberschrift;
    font-size: $fontsizeHeadinggroß;
    vertical-align: middle;
}

.Searching {
    grid-area: Searching;
}

.kategorie {
    display: flex;
    flex-direction: column;

    .kategorieunterschrift {
        grid-area: kategorieunterschrift;
        text-align: center;
        color: #ce152b;
        font-family: $font-familyStandard;
        font-size: $fontsizeFließtext;
        vertical-align: middle;
    }

    .kategorieueberschrift {
        grid-area: kategorieueberschrift;
        text-align: center;
        color: #ce152b;
        font-family: $font-familyStandard;
        font-size: $fontsizeFließtextgroß;
        vertical-align: middle;
        text-decoration: underline;
        margin-top: 12px;
    }
}

.hyperlinkentfernen {
    text-decoration: none;
    color: #ce152b;
}
