<div class="headercontainer">
<a>blah</a>
    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte current">
        <a>Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="Ueberschrift">
        <a>Meine Rezepte</a>

        <div class="Searching">
            <img src="assets/img/searching.png">
        </div>

        <div class="kategorie">
            <a class="kategorieueberschrift">Brot und Brötchen</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/weltmeisterbrot">Weltmeisterbrot</a>
        </div>

        <div class="kategorie">
            <a class="kategorieueberschrift">Cocktails</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/mangoramazottidrink">Mango-Ramazotti Drink</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/mojito">Mojito</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/pinacolada">Pina Colada</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/zuckersirup">Zuckersirup</a>
        </div>

        <div class="kategorie">
            <a class="kategorieueberschrift">Dörrautomat</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/fruechtedoerren">Fruechte Dörren</a>
        </div>

        <div class="kategorie">
            <a class="kategorieueberschrift">Eintopf und Suppe</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/moehreneintopf">Möhreneintopf</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/moehreningwersuppe">Möhrensuppe mit Ingwer</a>
        </div>

        <div class="kategorie">
            <a class="kategorieueberschrift">Muffins & co.</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/apfelcrumbel">Apfelcrumbel</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/apfelmus">Apfelmus</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/apfelschmandtartelettesmiteierlikör">Apfel-Schmand-Tartelettes mit Eierlikör</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/bananenpancakes">Bananenpancakes</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/griessbrei">Grießbrei</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/hefezopf">Hefezopf zu Ostern</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/kaiserschmarrn">Kaiserschmarrn</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/milchreis">Milchreis</a>
        </div>

        <div class="kategorie">
            <a class="kategorieueberschrift">Nudeln</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/ofen-makkaroni">Ofen-Makkaroni</a>

        <div class="kategorie">
            <a class="kategorieueberschrift">Kuchen</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/apfelkuchenmitguss">Apfelkuchen mit
                Guss</a>
                <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/eierlikoerkuchen">Eierlikörkuchen</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/marmorkuchen">Marmorkuchen</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/prinzenkirschkuchen">Prinzenkirschkuchen</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/rosinenkuchen">Rosinenkuchen</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/schokoladenkuchen">Schokoladenkuchen</a>
        </div>

        <div class="kategorie">
            <a class="kategorieueberschrift">Pesto und Dips</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/basilikumpesto">Basilikumpesto
            </a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/karottengruenpesto">Pesto aus Karottengruen 
            </a>
        </div>

        <div class="kategorie">
            <a class="kategorieueberschrift">Salate</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/couscoussalat">Couscoussalat
            </a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/kartoffelsalat">Kartoffelsalat
            </a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/nudelsalaterbsenmoehren">Nudelsalat mit Erbsen und Möhren
            </a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/nudelsalatthunfisch">Nudelsalat mit Thunfisch
            </a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/reisnudelsalattomatemozzarella">Reisnudelsalat mit Tomate-Mozzarella
            </a>
        </div>

        <div class="kategorie">
            <a class="kategorieueberschrift">Snacks</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/reiswaffeltomatensnack">Reiswaffel-Tomaten
                Snack</a>
        </div>

        <div class="kategorie">
            <a class="kategorieueberschrift">Torten</a>
            <a class="hyperlinkentfernen kategorieunterschrift" routerLink="/birneneierlikoertorte">Birnen-Eierlikör Torte</a>
        </div>


    </div>
</div>