<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="überschrift">
        <a>Mojito</a>
    </div>

    <div class="überschriftbild">
    </div>

    <div class="überschrifttext">
        <a>Im Sommer ein erfrischender Cocktail gefällig? Dann ist ein Mojito genau das Richtige! Man benötigt keine
            Säfte, die man dann eh nicht aufbraucht und dann wieder weggeschmissen werden müssen. Also der perfekte
            Cocktail für jeden! </a>
    </div>

    <div class="unterschrifttext">
        <a>Das Rezept bezieht sich auf ein größeres Glas. </a>
    </div>

    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="1" bezeichnung="kleinere Limette"></app-zutat>
        <app-zutat menge="3 TL" bezeichnung="brauner Zucker"></app-zutat>
        <app-zutat menge="6 cl" bezeichnung="weißen Rum"></app-zutat>
        <app-zutat menge="einige" bezeichnung="Eiswürfel"></app-zutat>
        <app-zutat menge="ggf. einige" bezeichnung="Minzblätter"></app-zutat>
        <app-zutat menge="" bezeichnung="Sprudelwasser"></app-zutat>

    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung="Messer"></app-zutat>
        <app-zutat menge="pro Cocktail" bezeichnung="größeres Saft- oder Cocktailglas "></app-zutat>
        <app-zutat menge="" bezeichnung="Stößel"></app-zutat>
        <app-zutat menge="" bezeichnung="Jigger oder Schnappsglas"></app-zutat>
        <app-zutat menge="pro Cocktail" bezeichnung="Strohhalm"></app-zutat>

    </div>


    <div class="schritte">
        <div>
            <a class="schrittüberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Limetten.jpg" schrittuntertitelmenge="1"
                    schrittuntertitel="Limette"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Zunächst die Limette heiß abspülen und anschließend achteln.
                    <br /> <br /> <u>Tipp: </u> Bei größeren bzw. saftreichen Limetten reichen auch 2 Limetten für 3
                    Cocktails. </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 2</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/brauner Zucker.jpg" schrittuntertitelmenge="3 TL"
                    schrittuntertitel="brauner Zucker"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Die Limettenstücke gleichmäßig auf die Gläser aufteilen und den Zucker hinzugeben.
                    Anschließend mit dem Stößel den Saft aus den Fruchtstücken quetschen.
                    <br /> <br /> <u>Tipp: </u> Die Zuckermenge und die Stärke des Ausquetschens sind entscheidend für
                    den Geschmack, können aber individuell auch noch im Nachhinein angespasst werden.
                </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 3</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/weißerRum.jpg" schrittuntertitelmenge="6 cl"
                    schrittuntertitel="weißer Rum"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Anschließend den weißen Rum mit einem Jigger oder Schnappsglas abmessen und in das Glas geben.
                    <br /> <br /> <u>Tipp: </u> 6 cl sind etwa 60 g oder 1,5 normale Schnappsgläser </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 4</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Eiswürfel.jpg" schrittuntertitelmenge="einige"
                    schrittuntertitel="Eiswürfel"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Minzblätter.jpg" schrittuntertitelmenge="ggf."
                    schrittuntertitel="Minzblätter"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Anschließend einige Eiswürfel oder Crushed Eis und die Minze als Deko hinzufügen. </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 5</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Sprudelwasser.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="Sprudelwasser"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Zum Schluss mit dem Sprudelwasser auffüllen und jedes Glas mit einem Strohhalm versehen. 
                    <br/> Ggf. noch einmal mit einem längeren Löffel oder dem Strohhalm umrühren.  </a>
            </div>
        </div>
    </div>

    <div class="abschluss">
        <a>Prost!</a>
    </div>

</div>