<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="überschrift">
        <a>Eierlikörkuchen</a>
    </div>

    <div class="überschriftbild">
    </div>

    <div class="überschrifttext">
        <a>Dieser Kuchen unterscheidet sich von anderen Rührkuchen durch die knackige Schokoladenschicht. Für mich macht
            es den Kuchen besonders!</a>
    </div>

    <div class="unterschrifttext">
        <a>
        </a>
    </div>

    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="etwas" bezeichnung="Margarine"></app-zutat>

        <app-zutat class="topspacer" menge="5" bezeichnung="Eier (getrennt)"></app-zutat>
        <app-zutat menge="250 g" bezeichnung="Puderzucker"></app-zutat>
        <app-zutat menge="1/4 L" bezeichnung="Sonnenblumenöl"></app-zutat>
        <app-zutat menge="1/4 L" bezeichnung="Eierlikör"></app-zutat>
        <app-zutat menge="350 g" bezeichnung="Mehl"></app-zutat>
        <app-zutat menge="1 Pkg." bezeichnung="Backpulver"></app-zutat>

        <app-zutat class="topspacer" menge="" bezeichnung="Kuvertüre"></app-zutat>
    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung="Springform mit Loch"></app-zutat>
        <app-zutat menge="" bezeichnung="Rührschüssel"></app-zutat>
        <app-zutat menge="" bezeichnung="Mixer mit Schneebesen"></app-zutat>
        <app-zutat menge="" bezeichnung="Backofen"></app-zutat>
    </div>


    <div class="schritte">
        <div>
            <a class="schrittüberschrift"> Schritt 1</a>

            <div class="schrittzutaten">

                <app-schrittzutat schrittzutatenbild="assets/img/Margarine.jpg" schrittuntertitelmenge="etwas"
                    schrittuntertitel="Margarine"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/SpringformmitLoch.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="Springform mit Loch "></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Als erstes die Springform mit Loch einfetten.
                </a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 2</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Eier.jpg" schrittuntertitelmenge="5"
                    schrittuntertitel="Eier"></app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Zuerst müssen die Eier getrennt werden.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 3</a>

            <div class="schrittzutaten">

                <app-schrittzutat schrittzutatenbild="assets/img/Eiweiß.jpg" schrittuntertitelmenge="5"
                    schrittuntertitel="Eiweiß"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Das Eiweiß steif schlagen.
                </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 4</a>

            <div class="schrittzutaten">

                <app-schrittzutat schrittzutatenbild="assets/img/Eigelb.jpg" schrittuntertitelmenge="5"
                    schrittuntertitel="Eigelb"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Puderzucker.jpg" schrittuntertitelmenge="250 g"
                    schrittuntertitel="Puderzucker"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Das Eigelb mit dem Puderzucker schaumig schlagen.
                </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 5</a>

            <div class="schrittzutaten">

                <app-schrittzutat schrittzutatenbild="assets/img/Sonnenblumenöl.jpg" schrittuntertitelmenge="1/4 L"
                    schrittuntertitel="Sonnenblumenöl"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Eierlikör.jpg" schrittuntertitelmenge="1/4 L"
                    schrittuntertitel="Eierlikör"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Öl und Eierlikör zum Eigelbschaum geben und verrühren. </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 6</a>

            <div class="schrittzutaten">

                <app-schrittzutat schrittzutatenbild="assets/img/Mehl.jpg" schrittuntertitelmenge="350 g"
                    schrittuntertitel="Mehl"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Backpulver.jpg" schrittuntertitelmenge="1 Pkg."
                    schrittuntertitel="Backpulver"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a> Mehl und Backpulver mischen, sieben und vorsichtig unter die Eigelbmenge geben.
                </a>
            </div>
            <div>

                <div>
                    <a class="schrittüberschrift"> Schritt 7</a>

                    <div class="schrittzutaten">
                        <app-schrittzutat schrittzutatenbild="assets/img/Backofen175OU50min.jpg"
                            schrittuntertitelmenge="" schrittuntertitel=""></app-schrittzutat>
                    </div>

                    <div class="schrittbeschreibung">
                        <a> Den Kuchenteig in die eingefettete Springform füllen. Bei 175 °C Ober-/unterhitze 50 bis 60
                            Minuten lang backen.
                        </a>
                    </div>

                </div>

                <div>
                    <a class="schrittüberschrift"> Schritt 8</a>

                    <div class="schrittzutaten">
                        <app-schrittzutat schrittzutatenbild="assets/img/Kuvertüre.jpg" schrittuntertitelmenge=""
                        schrittuntertitel="Kuvertüre"></app-schrittzutat>
                    </div>

                    <div class="schrittbeschreibung">
                        <a> Sobald der Kuchen abgekühlt ist, die Kuvertüre schmelzen und über dem Kuchen verteilen.
                        </a>
                    </div>

                </div>

            </div>

            <div class="abschluss">
                <a>Guten Appetit!</a>
            </div>

        </div>