<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="ueberschrift">
        <a>Bananen dörren</a>
    </div>

    <div class="ueberschriftbild">
    </div>

    <div class="ueberschrifttext">
        <a>Knusprige Bananenchips machen sich perfekt im Muesli! Sie sind aber auch zum Einlegen in Alkohol und somit fuer
            den nächsten Cocktail geeignet.
        </a>
    </div>

    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="3" bezeichnung="Bananen"></app-zutat>

    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung="Messer"></app-zutat>
        <app-zutat menge="" bezeichnung="Dauerbackfolie oder Backpapier"></app-zutat>
        <app-zutat menge="" bezeichnung="Dörrautomat"></app-zutat>

    </div>

    <div class="schritte">
        <div>
            <a class="schrittueberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/bananen.jpeg" schrittuntertitelmenge="3"
                    schrittuntertitel="Bananen"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Zuerst die Bananen schälen und in duenne Scheiben schneiden. <br /> <br /> </a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 2</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Bananendörrenschritt2.jpg" schrittuntertitelmenge=""
                    schrittuntertitel=""></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Anschließend die Bananenscheiben in den Dörrautomat legen. Die Fruechte sollten sich nicht
                    ueberlappen. Um ein Festkleben am Gitter zu vermeiden, kann Dauerbackfolie oder Backpapier
                    verwendet werden. <br /> <br /> </a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 3</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/dörren13h60.jpg" schrittuntertitelmenge=""
                    schrittuntertitel=""></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a> Zum Schluss den Dörrautomat fuer 13 Stunden bei 60°C starten. <br /> <br /> </a>
            </div>
        </div>

    </div>

    <div class="abschluss">
        <a>Guten Appetit!</a>
    </div>

</div>