<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="ueberschrift">
        <a>Birnen-Eierlikör Torte</a>
    </div>

    <div class="ueberschriftbild">
        <img src="assets/img/Birneneierlikörtorte.jpg">
    </div>

    <div class="ueberschrifttext">
        <a>Diese Torte ist bei uns der Klassiker zu Ostern! Er ist fruchtig durch die Birnen, österlich durch den Eierlikör und super einen Tag vorher vorzubereiten.
        </a>
    </div>

    <div class="unterschrifttext">
        <a>Verziert wird er immer mit Fondant-Möhren passend zu Ostern. 
        </a>
    </div>


    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="etwas" bezeichnung="Margarine"></app-zutat>

        <app-zutat class="topspacer" menge="1" bezeichnung="Ei (getrennt)"></app-zutat>
        <app-zutat menge="125 g" bezeichnung="Zucker"></app-zutat>
        <app-zutat menge="1 Pkg." bezeichnung="Vanillezucker"></app-zutat>
        <app-zutat menge="125 g" bezeichnung="Butter"></app-zutat>
        <app-zutat menge="150 g" bezeichnung="Mehl"></app-zutat>
        <app-zutat menge="1 TL" bezeichnung="Backpulver"></app-zutat>

        <app-zutat class= "topspacer" menge="2 Dosen" bezeichnung="Birnen inkl. Saft"></app-zutat>

        <app-zutat class="topspacer" menge="1/4 L" bezeichnung="Weißwein"></app-zutat>
        <app-zutat menge="2-3 EL" bezeichnung="Zucker"></app-zutat>
        <app-zutat menge="1 Pkg." bezeichnung="Vanille-Puddingpulver"></app-zutat>

        <app-zutat class="topspacer" menge="2 Becher" bezeichnung="Sahne"></app-zutat>
        <app-zutat menge="1 Pkg." bezeichnung="Sahnesteif"></app-zutat>

        <app-zutat class="topspacer" menge="" bezeichnung="Eierlikör"></app-zutat>

    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung="Springform"></app-zutat>
        <app-zutat menge="" bezeichnung="Backpapier"></app-zutat>
        <app-zutat menge="" bezeichnung="Mixer mit Schneebesen"></app-zutat>
        <app-zutat menge="" bezeichnung="Tortenring"></app-zutat>
        <app-zutat menge="" bezeichnung="Spritzbeutel"></app-zutat>

    </div>

    
    <div class="schritte">
        <div>
            <a class="schrittueberschrift"> Schritt 1</a>
    
            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Margarine.jpg" schrittuntertitelmenge="etwas" schrittuntertitel="Margarine">
                </app-schrittzutat>
    
                <app-schrittzutat schrittzutatenbild="assets/img/Springform.jpg" schrittuntertitelmenge="" schrittuntertitel="Springform">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Backpapier.jpg" schrittuntertitelmenge="" schrittuntertitel="Backpapier">
                </app-schrittzutat>
    
            </div>
            <div class="schrittbeschreibung">
                <a>Zu Beginn eine Springform einfetten und den Boden mit Backpapier auskleiden, um den Boden später leichter aus der Form zu bekommen.</a>
            </div>
    
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 2 - Boden</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Eier.jpg" schrittuntertitelmenge="1" schrittuntertitel="Ei">
                </app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Dann das Ei trennen und das Eiweiß steif schlagen.</a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 3 - Boden</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Eigelb.jpg" schrittuntertitelmenge="1" schrittuntertitel="Eigelb">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Zucker.jpg" schrittuntertitelmenge="125 g" schrittuntertitel="Zucker">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Vanillezucker.jpg" schrittuntertitelmenge="1 Pkg." schrittuntertitel="Vanillezucker">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Butter.jpg" schrittuntertitelmenge="125 g" schrittuntertitel="weiche Butter">
                </app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Das Eigelb mit dem Zucker und der Butter schaumig schlagen.</a>
            </div>

        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 4 - Boden</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Mehl.jpg" schrittuntertitelmenge="150 g" schrittuntertitel="Mehl">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Backpulver.jpg" schrittuntertitelmenge="1 TL" schrittuntertitel="Backpulver">
                </app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Anschließend Mehl und Backpulver hinzugeben.</a>
            </div>

        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 5 - Boden</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Eiweiß.jpg" schrittuntertitelmenge="1" schrittuntertitel="Eiweiß">
                </app-schrittzutat>
            </div>
            <div class="schrittbeschreibung">
                <a>Zum Schluss das steife Eiweiß vorsichtig unterheben und in die Springform fuellen.</a>
            </div>

        </div>


        <div>
            <a class="schrittueberschrift"> Schritt 6 - Boden </a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Backofen185OU20min.jpg">
                </app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Den Boden bei 185 °C Ober-/Unterhitze fuer 18 bis 22 Minuten backen und anschließend abkuehlen lassen. </a>
            </div>

        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 7 - Birnenmasse</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Dosenbirnen.jpg" schrittuntertitelmenge="2 Dosen" schrittuntertitel="Birnen">
                </app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Die Birnen abtropfen lassen und den <u>Saft auffangen</u>!</a>
            </div>

        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 8 - Birnenmasse</a>

            <div class="schrittzutaten">

            </div>
            <div class="schrittbeschreibung">
                <a>Den abgekuehlten Tortenboden auf eine Tortenplatte legen und das Backpapier entfernen. Einen Tortenring fest um den Boden schließen.</a>
            </div>

        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 9 - Birnenmasse</a>

            <div class="schrittzutaten">
 
            </div>
            <div class="schrittbeschreibung">
                <a>Die Birnen in Spalten schneiden und den Tortenboden damit in Kreisen belegen.</a>
            </div>

        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 10 - Birnenmasse</a>
            
            <div class="schrittzutaten">
                          
                <app-schrittzutat schrittzutatenbild="assets/img/Birnensaft.jpg" schrittuntertitelmenge="6 EL" schrittuntertitel="Birnensaft">
                </app-schrittzutat>
            
                <app-schrittzutat schrittzutatenbild="assets/img/Vanillepuddingpulver.jpg" schrittuntertitelmenge="1 Pkg." schrittuntertitel="Vanillepuddingpulver">
                </app-schrittzutat>
                
            </div>
            <div class="schrittbeschreibung">
                <a>Puddingpulver mit Birnensaft anruehren.</a>
            </div>
            
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 11 - Birnenmasse</a>
            
            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Weißwein.jpg" schrittuntertitelmenge="1/4 L" schrittuntertitel="Weißwein">
                </app-schrittzutat>
            
                <app-schrittzutat schrittzutatenbild="assets/img/Birnensaft.jpg" schrittuntertitelmenge="1/4 L" schrittuntertitel="Birnensaft">
                </app-schrittzutat>
            
                <app-schrittzutat schrittzutatenbild="assets/img/Zucker.jpg" schrittuntertitelmenge="2-3 EL" schrittuntertitel="Zucker">
                </app-schrittzutat>
                
            </div>
            <div class="schrittbeschreibung">
                <a>Weißwein, Birnensaft und Zucker aufkochen, angeruehrtes Puddingpulver einruehren und nochmals aufkochen lassen.</a>
            </div>
            
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 12 - Birnenmasse</a>
            
            <div class="schrittzutaten">
               
            </div>
            <div class="schrittbeschreibung">
                <a>Den noch heißen Pudding ueber die Birnen gießen, verstreichen und abkuehlen lassen.</a>
            </div>
            
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 13 - Sahnehaube</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Sahne.jpg" schrittuntertitelmenge="2 Becher" schrittuntertitel="Sahne">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Sahnesteif.jpg" schrittuntertitelmenge="1 Pkg." schrittuntertitel="Sahnesteif">
                </app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Sahne steif schlagen.</a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 14 - Sahnehaube</a>

            <div class="schrittzutaten">
                
            </div>
            <div class="schrittbeschreibung">
                <a>3/4 der Sahnemenge auf dem Obstkuchen verstreichen, mit der restlichen Sahne einen Rand spritzen.</a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 15 - Eierlikörschicht</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Eierlikör.jpg" schrittuntertitelmenge="etwas" schrittuntertitel="Eierlikör">
                </app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Den Eierlikör ca. 1/2 cm dick vorsichtig von der Mitte aus verteilen. Den Kuchen anschließend ein bis zwei Stunden kalt stellen. </a>
            </div>
        </div>
        
    </div>
    
    <div class="abschluss">
        <a>Guten Appetit!</a>
    </div>
    
</div>