<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="überschrift">
        <a>Couscoussalat</a>
    </div>

    <div class="überschriftbild">
    </div>

    <div class="überschrifttext">
        <a>Ein sommerlicher Salat ohne Majo oder ähnlichem und trotzdem nicht trocken! Leider ist er durch die Schnibbelarbeit relativ aufwändig, was sich aber durchaus lohnt!
            </a>
    </div>

    <div class="unterschrifttext">
        <a>Die Menge reicht für vier größere Portionen.
        </a>
    </div>

    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="200 g" bezeichnung="Couscous"></app-zutat>
        <app-zutat menge="300 ml" bezeichnung="kochendes Wasser"></app-zutat>
        <app-zutat menge="1/2" bezeichnung="Zitrone"></app-zutat>
        <app-zutat menge="4 EL" bezeichnung="Olivenöl"></app-zutat>
        <app-zutat menge="1/2 TL" bezeichnung="Salz"></app-zutat>
        <app-zutat menge="2" bezeichnung="Paprika"></app-zutat>
        <app-zutat menge="1" bezeichnung="Salatgurke"></app-zutat>
        <app-zutat menge="250 g" bezeichnung="kleine Tomaten"></app-zutat>
        <app-zutat menge="2" bezeichnung="Knoblauchzehen"></app-zutat>
        <app-zutat menge="500 g" bezeichnung="Schafskäse"></app-zutat>
        <app-zutat menge="1/2 Pkg." bezeichnung="TK-Petersilie"></app-zutat>
        <app-zutat menge="" bezeichnung="Salz, Pfeffer"></app-zutat>

    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung="größerer Topf"></app-zutat>
        <app-zutat menge="" bezeichnung="Herdplatte"></app-zutat>
        <app-zutat menge="" bezeichnung="Schüssel"></app-zutat>
        <app-zutat menge="" bezeichnung="Messer"></app-zutat>
        <app-zutat menge="" bezeichnung="Zitronenpresse"></app-zutat>

    </div>


    <div class="schritte">
        <div>
            <a class="schrittüberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Couscous.jpg" schrittuntertitelmenge="300 g"
                    schrittuntertitel="Couscous"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/kochendesWasser.jpg" schrittuntertitelmenge="300 ml"
                    schrittuntertitel="kochendes Wasser"></app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Das Wasser zum Kochen bringen und über den Couscous gießen.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 2</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Zitrone.jpg" schrittuntertitelmenge="1/2"
                schrittuntertitel="Zitrone"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Olivenöl.jpg" schrittuntertitelmenge="4 EL"
                schrittuntertitel="Olivenöl"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Salz.jpg" schrittuntertitelmenge="1/2 TL"
                schrittuntertitel="Salz"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Die Zitrone auspressen und zusammen mit dem Olivenöl sowie Salz zum Couscous geben. Das Ganze muss dann 5 Minuten lang zugedeckt quellen.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 3</a>

            <div class="schrittzutaten">

                <app-schrittzutat schrittzutatenbild="assets/img/Paprika.jpg" schrittuntertitelmenge="2"
                schrittuntertitel="Paprika"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Salatgurke.jpg" schrittuntertitelmenge="1"
                schrittuntertitel="Salatgurke"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Tomaten.jpg" schrittuntertitelmenge="250 g"
                schrittuntertitel="kleine Tomaten"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Paprika, Gurke und Tomaten waschen und anschließend in kleine Würfel schneiden. Anschließend zum Couscous geben.  
                </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 4</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Knoblauch.jpg" schrittuntertitelmenge="2"
                schrittuntertitel="Knoblauchzehen"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Den Knoblauch putzen, pressen und ebenfalls in die Schüssel füllen.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 5</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Schafskäse.jpg" schrittuntertitelmenge="500 g"
                schrittuntertitel="Schafskäse"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a> Zunächst die Flüssigkeit des Käses vorsichtig abgießen und dann entweder in kleine Stücke schneiden oder mit den Händen zerbröseln. Der Schafskäse kommt ebenfalls zum Couscous.
                </a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 6</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/TKPetersilie.jpg" schrittuntertitelmenge="1/2 Pkg."
                schrittuntertitel="TK-Petersilie"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Salz.jpg" schrittuntertitelmenge=""
                schrittuntertitel="Salz"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Pfeffer.jpg" schrittuntertitelmenge=""
                schrittuntertitel="Pfeffer"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a> Zum Schluss den Salat mit der Petersilie, Salz und Pfeffer abschmecken. Sollte Flüssigkeit fehlen kann auch noch Olivenöl hinzugefügt werden.
                </a>
            </div>

        </div>

    </div>

    <div class="abschluss">
        <a>Guten Appetit!</a>
    </div>

</div>