<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="überschrift">
        <a>Reisnudelsalat mit Tomate-Mozzarella</a>
    </div>

    <div class="überschriftbild">
    </div>

    <div class="überschrifttext">
        <a>Im Sommer zum Grillen gehören einfach Salate. Die Klassiker bestehen aus Nudeln oder Reis und sind sehr mächtig durch die Majo. <br/> 
            Dieser Salat besteht aus Reisnudeln und wird durch Tomate-Mozzarella sommerlich frisch.
            </a>
    </div>

    <div class="unterschrifttext">
        <a>Die Menge reicht für vier größere Portionen.
        </a>
    </div>

    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="250 g" bezeichnung="Reisnudeln"></app-zutat>
        <app-zutat menge="etwas" bezeichnung="Salz"></app-zutat>
        <app-zutat menge="200 g" bezeichnung="kleine Tomaten"></app-zutat>
        <app-zutat menge="2 Kugeln" bezeichnung="Mozzarella"></app-zutat>
        <app-zutat menge="1 Pkg." bezeichnung="Pinienkerne"></app-zutat>
        <app-zutat menge="2 EL" bezeichnung="Majonaise"></app-zutat>
        <app-zutat menge="1/2 Glas" bezeichnung="grünes Pesto"></app-zutat>

        <app-zutat class="topspacer" menge="etwas" bezeichnung="Rukola"></app-zutat>

    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung="größerer Topf"></app-zutat>
        <app-zutat menge="" bezeichnung="Herdplatte"></app-zutat>

    </div>


    <div class="schritte">
        <div>
            <a class="schrittüberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Reisnudeln.jpg" schrittuntertitelmenge="250 g"
                    schrittuntertitel="Reisnudeln"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Salz.jpg" schrittuntertitelmenge="etwas"
                    schrittuntertitel="Salz"></app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Zuerst müssen die Reisnudeln in reichlich Salzwasser gekocht werden. Meistens für etwa 15 Minuten, am besten aber nach den Packungsanweisungen richten. </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 2</a>

            <div class="schrittzutaten">

            </div>

            <div class="schrittbeschreibung">
                <a>Die Reisnudeln anschließend abgießen und in einer größeren Schüssel abkühlen lassen. </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 3</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Tomaten.jpg" schrittuntertitelmenge="200 g"
                schrittuntertitel="kleine Tomaten"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Die kleinen Tomaten waschen und halbieren ggf. vierteln. Sie sollten eine mundgerechte Größe haben und ansprechend zur Größe der Reisnudeln sein. Anschließend zu den abgekühlten Reisnudeln geben.  
                </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 4</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Mozzarella.jpg" schrittuntertitelmenge="2 Kugeln"
                schrittuntertitel="Mozzarella"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Den Mozzarella abgießen und ebenfalls in kleine Würfel schneiden. Dann zu den Reisnudeln und Tomaten in die Schüssel geben.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 5</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Pinienkerne.jpg" schrittuntertitelmenge="1 Pkg."
                schrittuntertitel="Pinienkerne"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a> Die Pinienkerne in einer Pfanne ohne Fett anrösten. Dieser Schritt kann auch entfallen. Anschließend auch in die Schüssel geben.
                </a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 6</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Majonaise.jpg" schrittuntertitelmenge="2 EL"
                schrittuntertitel="Majonaise"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Pesto.jpg" schrittuntertitelmenge="1/2 Glas"
                schrittuntertitel="grünes Pesto"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a> Den Salat nun mit der Majonaise und dem Pesto abschmecken. Bei Bedarf kann auch noch Salz und Pfeffer hinzugefügt werden.
                </a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 7</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Rukola.jpg" schrittuntertitelmenge="etwas"
                schrittuntertitel="Rukola"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a> Den Rukola waschen und seperat zum Reisnudelsalat geben. Er kann auch etwas kleingeschnitten und direkt untergehoben werden. Dies sollte jedoch erst direkt vor dem Servieren stattfinden, da Rukola sonst sehr schnell welk und unschön wird.  
                </a>
            </div>

        </div>

    </div>

    <div class="abschluss">
        <a>Guten Appetit!</a>
    </div>

</div>