<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="ueberschrift">
        <a>Fruechte dörren</a>
    </div>

    <div class="bananenbild">
      <img routerLink="/bananendoerren" src="assets/img/bananen.jpeg">
    </div>
      
    <div class="mangobild">
        <img routerLink="/mangodoerren" src="assets/img/mango.jpeg">
    </div>

    <div class="papayabild">
        <img routerLink="/papayadoerren" src="assets/img/Papaya.jpg">
    </div>

</div>
