$fontsizeHeader: 1rem;
$fontsizeFließtext: 18px;
$fontsizeHeadinggroß: 47px;
$fontsizeFließtextgroß: 18px;
$Abstandfließtext: 15px;
$Abstandfließtextgroß: 100px;

$font-familyRezepte: "Nunito Sans";
$font-familyStandard: "Kalam";
$font-familyPersönlicherText: "Crafty Girls";
$font-familyUnterschrift: "Rock Salt";
$font-familyÜberschrift: "Satisfy";

.headercontainer {
    background-color: #ce152b;
    color: white;
    height: 80 px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: grid;
    grid-template-columns: 15% auto auto;
    grid-template-rows: 80px;
    grid-template-areas: "headerlogo home meinerezepte glossar";
}

.headercontainer div {
    margin: auto;
    font-size: $fontsizeHeader;
    font-family: $font-familyStandard;
}

.headercontainer a {
    color: white;
    text-decoration: none;
}

.headerlogo {
    grid-area: headerlogo;
    width: 100%;
    height: 100%;
}

.headerlogo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 70%;
}

.home {
    grid-area: home;
}

.meierezepte {
    grid-area: meinerezepte;
}

.glossar {
    grid-area: glossar;
}

.current a {
    color: #ddb88c;
}

.gridcontainer {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-columns: auto;
    grid-template-areas:
        "überschrift "
        "bananenbild"
        "bananentext"
        "mangobild"
        "mangotext"
        "papayabild"
        "papayatext";
    position: absolute;
    top: 100px;
    grid-row-gap: 15px;
    width: 100%;
}

.überschrift {
    text-align: center;
    color: #ce152b;
    font-family: $font-familyÜberschrift;
    font-size: $fontsizeHeadinggroß;
    vertical-align: middle;
}

.bananentext {
    grid-area: bananentext;
    text-align: center;
    color: #CE152B;
    font-family: $font-familyStandard;
    vertical-align: middle;
    text-decoration: none;
}

.bananenbild {
    grid-area: bananenbild;
    width: 50%;
    margin: auto;
}

.bananenbild img {
    display: block;
    width: 100%;
    border-radius: 20px;
}

.mangotext {
    grid-area: mangotext;
    text-align: center;
    color: #CE152B;
    font-family: $font-familyStandard;
    vertical-align: middle;
    text-decoration: none;
}

.mangobild {
    grid-area: mangobild;
    width: 50%;
    margin: auto;
}

.mangobild img {
    display: block;
    width: 100%;
    border-radius: 20px;
}

.papayatext {
    grid-area: papayatext;
    text-align: center;
    color: #CE152B;
    font-family: $font-familyStandard;
    vertical-align: middle;
    text-decoration: none;
}

.papayabild {
    width: 50%;
    grid-area: papayabild;
    margin: auto;
}

.papayabild img {
    display: block;
    width: 100%;
    border-radius: 20px;
}

.hyperlinkentfernen {
    text-decoration: none;
    color:#CE152B;
}
