<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="überschrift">
        <a>Apfel-Schmand-Tartelettes mit Eierlikör</a>
    </div>

    <div class="überschriftbild">
        <img src="assets/img/apfelschmandtartelettesmiteierlikör.jpg">
    </div>

    <div class="überschrifttext">
        <a>Ich liebe solche kleinen Tartelettes. Sie sehen süß aus, sind aber leider ziemlich aufwändig. Also plant ein
            wenig Zeit dafür ein. <br />
            Für alle, die Eierlikör lieben und das Ganze mit etwas Frucht verbinden möchten, sind diese kleinen
            Meisterwerke perfekt geeignet. <br />
            Ein wenig Sahne passt sowohl optisch also auch geschmacklich perfekt dazu.
        </a>
    </div>

    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="1" bezeichnung="Ei"></app-zutat>
        <app-zutat menge="75 g" bezeichnung="Zucker"></app-zutat>
        <app-zutat menge="1 Prise" bezeichnung="Salz"></app-zutat>
        <app-zutat menge="125 g" bezeichnung="weiche Butter"></app-zutat>
        <app-zutat menge="2 EL" bezeichnung="Eierlikör"></app-zutat>
        <app-zutat menge="250 g" bezeichnung="Mehl"></app-zutat>
        <app-zutat menge="1/2 TL" bezeichnung="Backpulver"></app-zutat>

        <app-zutat class="topspacer" menge="250 g" bezeichnung="Schmand"></app-zutat>
        <app-zutat menge="1" bezeichnung="Ei"></app-zutat>
        <app-zutat menge="6 EL" bezeichnung="Eierlikör"></app-zutat>
        <app-zutat menge="3 EL" bezeichnung="Zucker"></app-zutat>
        <app-zutat menge="1 Pkg." bezeichnung="Vanillezucker"></app-zutat>
        <app-zutat menge="1 Pkg." bezeichnung="Vanillepuddingpulver zum Kochen"></app-zutat>

        <app-zutat class="topspacer" menge="2" bezeichnung="Äpfel"></app-zutat>
        <app-zutat menge="3 - 4 EL" bezeichnung="Honig"></app-zutat>
        <app-zutat menge="6 EL" bezeichnung="brauner Zucker"></app-zutat>

    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung="Mixer mit Schneebesen"></app-zutat>
        <app-zutat menge="" bezeichnung="Frischhaltefolie"></app-zutat>
        <app-zutat menge="" bezeichnung="Nudelholz oder Ausrollstab"></app-zutat>
        <app-zutat menge="" bezeichnung="Tartelettförmchen"></app-zutat>
        <app-zutat menge="" bezeichnung="Gabel"></app-zutat>
        <app-zutat menge="" bezeichnung="Linsen oder Trockenerbsen"></app-zutat>
        <app-zutat menge="" bezeichnung="Backofen"></app-zutat>

    </div>


    <div class="schritte">
        <div>
            <a class="schrittüberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Eier.jpg" schrittuntertitelmenge="1"
                    schrittuntertitel="Ei"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Zucker.jpg" schrittuntertitelmenge="75 g"
                    schrittuntertitel="Zucker"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Salz.jpg" schrittuntertitelmenge="1 Prise"
                    schrittuntertitel="Salz"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Für den Teig zuerst das Ei mit Zucker und Salz aufschlagen.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 2</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Butter.jpg" schrittuntertitelmenge="125 g"
                    schrittuntertitel="Butter"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Eierlikör.jpg" schrittuntertitelmenge="2 EL"
                    schrittuntertitel="Eierlikör"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>
                    Anschließend Butter und Eierlikör hinzugeben.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 3</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Mehl.jpg" schrittuntertitelmenge="250 g"
                schrittuntertitel="Mehl"></app-schrittzutat> 
                
                <app-schrittzutat schrittzutatenbild="assets/img/Backpulver.jpg" schrittuntertitelmenge="1/2 TL"
                schrittuntertitel="Backpulver"></app-schrittzutat> 
               
            </div>

            <div class="schrittbeschreibung">
                <a> Zum Schluss mit Mehl und Backpulver zu einem glatten Teig verkneten.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 4</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Frischhaltefolie.jpg" schrittuntertitelmenge=""
                schrittuntertitel="Frischhaltefolie"></app-schrittzutat> 
                
            </div>

            <div class="schrittbeschreibung">
                <a>Den Teig in Frischhaltefolie wickeln und ca. 30 Minuten kaltstellen. </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 5</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Tartelettförmchen.jpg" schrittuntertitelmenge=""
                schrittuntertitel="Tarteletteförmchen"></app-schrittzutat> 
               
            </div>

            <div class="schrittbeschreibung">
                <a>Den Teig ausrollen und in Tarteletteförmchen legen. <br />
                    Je nach Durchmesser und Teigdicke variiert die Anzahl der kleinen Meisterwerke. </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 6</a>

            <div class="schrittzutaten">
                <a></a>
            </div>

            <div class="schrittbeschreibung">
                <a>Die Böden mehrfach mit einer Gabel einstechen und mit Linsen oder Trockenerbsen belegen.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 7</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Backofen200OU15min.jpg" schrittuntertitelmenge=""
                schrittuntertitel=""></app-schrittzutat> 
                

            <div class="schrittbeschreibung">
                <a>Im vorgeheizten Backofen bei 200 °C Ober-/Unterhitze ca. 15 Minuten vorbacken.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 8</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Schmand.jpg" schrittuntertitelmenge="250 g"
                schrittuntertitel="Schmand"></app-schrittzutat> 
               
                <app-schrittzutat schrittzutatenbild="assets/img/Eier.jpg" schrittuntertitelmenge="1"
                schrittuntertitel="Ei"></app-schrittzutat> 
               
                <app-schrittzutat schrittzutatenbild="assets/img/Eierlikör.jpg" schrittuntertitelmenge="6 EL"
                schrittuntertitel="Eierlikör"></app-schrittzutat> 
                
                <app-schrittzutat schrittzutatenbild="assets/img/Zucker.jpg" schrittuntertitelmenge="3 EL"
                schrittuntertitel="Zucker"></app-schrittzutat> 
                
                <app-schrittzutat schrittzutatenbild="assets/img/Puddingpulver.jpg" schrittuntertitelmenge="1 Pkg."
                schrittuntertitel="Vanillepuddingpulver"></app-schrittzutat> 
                
                <app-schrittzutat schrittzutatenbild="assets/img/Vanillezucker.jpg" schrittuntertitelmenge="1 Pkg."
                schrittuntertitel="Vanillezucker"></app-schrittzutat> 
                
            </div>

            <div class="schrittbeschreibung">
                <a>Für die Füllung Schmand, Ei, Eierlikör, Zucker, Puddingpulver und Vanillin-Zucker glatt rühren und in
                    die Tartelettes füllen. </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 9</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Äpfel.jpg" schrittuntertitelmenge="2"
                schrittuntertitel="mittelgroße Äpfel"></app-schrittzutat> 
               
            </div>

            <div class="schrittbeschreibung">
                <a>Die Äpfel schälen, entkernen und in kleine Würfel schneiden. </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 10</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Apfelstücke.jpg" schrittuntertitelmenge=""
                schrittuntertitel="Apfelstücke"></app-schrittzutat> 
                
                <app-schrittzutat schrittzutatenbild="assets/img/Honig.jpg" schrittuntertitelmenge="3 - 4 EL"
                schrittuntertitel="Honig"></app-schrittzutat> 
                
                <app-schrittzutat schrittzutatenbild="assets/img/brauner Zucker.jpg" schrittuntertitelmenge="6 EL"
                schrittuntertitel="brauner Zucker"></app-schrittzutat> 
                
            </div>

            <div class="schrittbeschreibung">
                <a>Die Apfelstücke in einer Schüssel mit Honig und braunen Zucker wälzen und auf die Schmandmasse geben.
                </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 11</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Backofen200OU30min.jpg" schrittuntertitelmenge=""
                schrittuntertitel=""></app-schrittzutat> 
                
            </div>

            <div class="schrittbeschreibung">
                <a>Die Eierlikör-Tartelettes bei gleicher Temperatur ca. 30 Minuten goldbraun backen. Kalt oder lauwarm
                    servieren.</a>
            </div>
        </div>

    </div>

    <div class="abschluss">
        <a>Guten Appetit!</a>
    </div>

</div>