<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="überschrift">
        <a>Prinzen-Kirsch Kuchen</a>
    </div>

    <div class="überschriftbild">

    </div>

    <div class="überschrifttext">
        <a>Ein Kühlschrankkuchen aus Resten, der super vorzubereiten ist.
        </a>
    </div>

    <div class="unterschrifttext">
        <a>
        </a>
    </div>


    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="1 Pkg." bezeichnung="Doppeldeckerkekse"></app-zutat>
        <app-zutat menge="200 g" bezeichnung="weiche Butter"></app-zutat>
        <app-zutat menge="2 Becher" bezeichnung="Schmand"></app-zutat>
        <app-zutat menge="2 Gläser" bezeichnung="Kirschen inkl. Flüssigkeit"></app-zutat>
        <app-zutat menge="2 Pkg." bezeichnung="Tortenguss rot"></app-zutat>
        <app-zutat menge="4 EL" bezeichnung="Zucker"></app-zutat>

    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung="Nudelholz/ Fleischklopfer/ Küchenmaschine"></app-zutat>
        <app-zutat menge="" bezeichnung="Springform"></app-zutat>    
        <app-zutat menge="" bezeichnung="kleinen Topf"></app-zutat>
        <app-zutat menge="" bezeichnung="Herdplatte"></app-zutat>

    </div>


    <div class="schritte">
        <div>
            <a class="schrittüberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Doppelkekse.jpg" schrittuntertitelmenge="1 Pkg." schrittuntertitel="Doppeldeckerkekse">
                </app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Zuerst die Doppeldeckerkekse mit einem Nudelholz, Fleischklopfer oder der Küchenmaschine zerkleinern.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 2</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Butter.jpg" schrittuntertitelmenge="200 g" schrittuntertitel="weiche Butter">
                </app-schrittzutat>
            </div>
            <div class="schrittbeschreibung">
                <a>Anschließend mit der weichen Butter zu einer homogenen Masse verarbeiten.</a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 3</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Springform.jpg" schrittuntertitelmenge="" schrittuntertitel="Springform">
                </app-schrittzutat> 
            </div>

            <div class="schrittbeschreibung">
                <a>Die Keksbuttermasse als Boden in die Springform drücken.</a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 4</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Schmand.jpg" schrittuntertitelmenge="2 Becher" schrittuntertitel="Schmand">
                </app-schrittzutat>
            </div>
            <div class="schrittbeschreibung">
                <a>Den Schmand ungesüßt auf dem Boden verteilen.
                <br/> <u>Tipp: </u> Alternativ kann auch Creme fraiche verwendet werden.
                    </a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 5</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/KirschenimGlas.jpg" schrittuntertitelmenge="2 Gläser" schrittuntertitel="Kirschen">
                </app-schrittzutat>
            </div>
            <div class="schrittbeschreibung">
                <a>Die Kirschen gründlich abtropfen lassen und die <u>Flüssigkeit auffangen</u>!</a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 6</a>

            <div class="schrittzutaten">
                           </div>

            <div class="schrittbeschreibung">
                <a>Die Kirschen gleichmäßig auf dem Schmand verteilen </a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 7</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Kirschsaft.jpg" schrittuntertitelmenge="500 ml" schrittuntertitel="Kirschsaft">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Tortengussrot.jpg" schrittuntertitelmenge="2 Pkg." schrittuntertitel="Tortenguss rot">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Zucker.jpg" schrittuntertitelmenge="4 EL" schrittuntertitel="Zucker">
                </app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Den Tortenguss nach Packungsanleitung mit dem Zucker und dem Kirschsaft zubereiten und auf den Kirschen verteilen.</a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 8</a>

            <div class="schrittzutaten">
               
            </div>
            <div class="schrittbeschreibung">
                <a>Den Kuchen am besten über Nacht abkühlen lassen und am nächsten Tag servieren.</a>
            </div>

        </div>

         
    </div>

    <div class="abschluss">
        <a>Guten Appetit!</a>
    </div>

</div>