<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="überschrift">
        <a>Apfelmus</a>
    </div>

    <div class="überschriftbild">
    </div>

    <div class="überschrifttext">
        <a>Mit einem Apfelbaum im Garten steht man irgendwann vor dem Problem:
            <br /> Wohin bloß mit den ganzen Äpfeln?
            <br /> Die Lösung:
            <br /> selbstgemachter Apfelmus!
            <br /> Er ist ruck-zuck gemacht und lässt sich auch noch easy einfrieren!
        </a>
    </div>

    <div class="unterschrifttext">
        <a>Selbstgemachtes Apfelmus passt auch perfekt zu </a>
        <a class="kategorieunterschrift hyperlinkentfernen " routerLink="/kaiserschmarrn"><u>Kaiserschmarrn</u></a>
        <a>!
        </a>
    </div>

    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="etwas" bezeichnung="Wasser"></app-zutat>
        <app-zutat menge="" bezeichnung="Äpfel"></app-zutat>
        <app-zutat menge="einige EL" bezeichnung="Zucker"></app-zutat>
        <app-zutat menge="1-2 Pkg." bezeichnung="Vanillezucker"></app-zutat>

    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung="Messer"></app-zutat>
        <app-zutat menge="ggf." bezeichnung="Sparschäler"></app-zutat>
        <app-zutat menge="" bezeichnung="größerer Topf"></app-zutat>
        <app-zutat menge="" bezeichnung="Herdplatte"></app-zutat>
        <app-zutat menge="" bezeichnung="Kartoffelstampfer"></app-zutat>

    </div>


    <div class="schritte">
        <div>
            <a class="schrittüberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Äpfel.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="Äpfel"></app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Beliebig viele Äpfel schälen und in grobe Stücke schneiden. Dabei muss nicht allzu akkurat gearbeitet
                    werden.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 2</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Wasser.jpg" schrittuntertitelmenge="etwas"
                    schrittuntertitel="Wasser"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Apfelstücke.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="Apfelstücke"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>In einen der Menge entsprechend großen Topf etwas Wasser geben, sodass der Boden bedeckt ist. Dann
                    die Apfelstücke hineingeben.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 3</a>

            <div class="schrittzutaten">

                <div class="schrittzutat">
                </div>

            </div>

            <div class="schrittbeschreibung">
                <a>Die Apfelstücke solange leicht köcheln lassen bis sie weich sind. Gelegentlich umrühren. Durch das
                    Wasser sollte ein Anbrennen verhindert werden. Bei Bedarf kann aber noch etwas Wasser hinzugegeben
                    werden.<br /> <br /></a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 4</a>

            <div class="schrittzutaten">

                <div class="schrittzutat">
                </div>
            </div>

            <div class="schrittbeschreibung">
                <a>Sobald die Apfelstücke weich sind, können sie mit einem Kartoffelstampfer zerdrückt werden.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 5</a>

            <div class="schrittzutaten">

                <app-schrittzutat schrittzutatenbild="assets/img/Zucker.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="Zucker"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Vanillezucker.jpg" schrittuntertitelmenge="1 - 2 Pkg."
                    schrittuntertitel="Vanillezucker"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Den Apfelmus mit Zucker und Vanillezucker abschmecken.
                    Die Menge hängt von der Apfelsorte, der Menge und dem eigenen Geschmack ab.
                </a>
            </div>

        </div>

    </div>

    <div class="abschluss">
        <a>Guten Appetit!</a>
    </div>

</div>