<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="überschrift">
        <a>Schokoladenkuchen</a>
    </div>

    <div class="überschriftbild">
    </div>

    <div class="überschrifttext">
        <a>Der Name dieses Kuchens ist bei uns in der Familie ein Streitthema - ist das ein Schokoladen- oder Eierlikörkuchen? Einig sind wir uns aber in einer anderen Sachen: Lecker ist er! </a>
    </div>

    <div class="unterschrifttext">
        <a>Der Kuchen lässt sich super für schlechte Zeiten einfrieren.
        </a>
    </div>

    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="etwas" bezeichnung="Margarine"></app-zutat>

        <app-zutat class="topspacer" menge="6" bezeichnung="Eier (getrennt)"></app-zutat>
        <app-zutat menge="200 g" bezeichnung="Zucker"></app-zutat>
        <app-zutat menge="200 g" bezeichnung="weiche Butter"></app-zutat>
        <app-zutat menge="1 Tasse" bezeichnung="Eierlikör"></app-zutat>
        <app-zutat menge="1 TL" bezeichnung="Rum"></app-zutat>
        <app-zutat menge="125 g" bezeichnung="Mehl"></app-zutat>
        <app-zutat menge="1 Pkg." bezeichnung="Backpulver"></app-zutat>
        <app-zutat menge="100 g" bezeichnung="Kaba/Kakao"></app-zutat>
        <app-zutat menge="200 g" bezeichnung="gemahlene Nüsse"></app-zutat>

    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung="Springform mit Loch"></app-zutat>
        <app-zutat menge="" bezeichnung="Rührschüssel"></app-zutat>
        <app-zutat menge="" bezeichnung="Mixer mit Schneebesen"></app-zutat>
        <app-zutat menge="" bezeichnung="Backofen"></app-zutat>
    </div>


    <div class="schritte">
        <div>
            <a class="schrittüberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
             
                <app-schrittzutat schrittzutatenbild="assets/img/Margarine.jpg" schrittuntertitelmenge="etwas"
                schrittuntertitel="Margarine"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/SpringformmitLoch.jpg" schrittuntertitelmenge=""
                schrittuntertitel="Springform mit Loch "></app-schrittzutat>
           
            </div>

            <div class="schrittbeschreibung">
                <a>Als erstes die Springform mit Loch einfetten.
                </a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 2</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Eier.jpg" schrittuntertitelmenge="6"
                    schrittuntertitel="Eier"></app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Zuerst müssen die Eier getrennt werden.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 3</a>

            <div class="schrittzutaten">

                <app-schrittzutat schrittzutatenbild="assets/img/Eiweiß.jpg" schrittuntertitelmenge="5"
                    schrittuntertitel="Eiweiß"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Das Eiweiß zunächst steif schlagen.
                </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 4</a>

            <div class="schrittzutaten">

                <app-schrittzutat schrittzutatenbild="assets/img/Eigelb.jpg" schrittuntertitelmenge="6"
                schrittuntertitel="Eigelb"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Zucker.jpg" schrittuntertitelmenge="200 g"
                schrittuntertitel="Zucker"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Das Eigelb mit dem Zucker schaumig schlagen.
                </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 5</a>

            <div class="schrittzutaten">
                
                <app-schrittzutat schrittzutatenbild="assets/img/Butter.jpg" schrittuntertitelmenge="200 g"
                schrittuntertitel="weiche Butter"></app-schrittzutat>
                
                <app-schrittzutat schrittzutatenbild="assets/img/Eierlikör.jpg" schrittuntertitelmenge="1 Tasse"
                schrittuntertitel="Eierlikör"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Rum.jpg" schrittuntertitelmenge="2 EL"
                schrittuntertitel="Rum"></app-schrittzutat>


            </div>

            <div class="schrittbeschreibung">
                <a>Butter, Eierlikör und Rum zum Eigelbschaum geben und verrühren. </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 6</a>

            <div class="schrittzutaten">

                <app-schrittzutat schrittzutatenbild="assets/img/Mehl.jpg" schrittuntertitelmenge="125 g"
                schrittuntertitel="Mehl"></app-schrittzutat>
                
                <app-schrittzutat schrittzutatenbild="assets/img/Backpulver.jpg" schrittuntertitelmenge="1 Pkg."
                schrittuntertitel="Backpulver"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a> Mehl und Backpulver mischen, sieben und vorsichtig unter die Eigelbmenge geben.
                </a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 7</a>

            <div class="schrittzutaten">

                <app-schrittzutat schrittzutatenbild="assets/img/Kakao.jpg" schrittuntertitelmenge="100 g"
                schrittuntertitel="Kaba/Kakao"></app-schrittzutat>
                
                <app-schrittzutat schrittzutatenbild="assets/img/gemahleneMandeln.jpg" schrittuntertitelmenge="200 g"
                schrittuntertitel="gamehlene Nüsse"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a> Kakaopulver und die gemahlenen Nüsse ebenfalls zum Teig geben.
                </a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 8</a>

            <div class="schrittzutaten">

            </div>

            <div class="schrittbeschreibung">
                <a> Anschließend das Eiweiß unter den Teig heben.
                </a>
            </div>

        </div>

       
        <div>
            <a class="schrittüberschrift"> Schritt 9</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Backofen175OU50min.jpg" schrittuntertitelmenge=""
                schrittuntertitel=""></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a> Den Kuchenteig in die eingefettete Springform füllen. Bei 175 C Ober-/unterhitze 50 bis 60 Minuten lang backen.
                </a>
            </div>

        </div>

    </div>

    <div class="abschluss">
        <a>Guten Appetit!</a>
    </div>

</div>