<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="überschrift">
        <a>Ofen-Makkaroni</a>
    </div>

    <div class="überschriftbild">
    </div>

    <div class="überschrifttext">
        <a>Dieses Gericht ist recht schnell gemacht. Alle Zutaten kann man im Hause machen - ein Notfallgericht also. Vielleicht noch ein schneller grüner Salat dazu und zack hat man eine vollwärtige Mahlzeit zusammen.
            <br/> Die Zutaten sind für eine größere Auflaufform und somit 4 Personen geeignet.
        </a>
    </div>

    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="300 g" bezeichnung="lange Makkaroni"></app-zutat>

        <app-zutat class="topspacer" menge="etwas" bezeichnung="Sonnenblumenöl"></app-zutat>
        <app-zutat  menge="500 g" bezeichnung="Hackfleisch"></app-zutat>
        <app-zutat menge="" bezeichnung="Salz, Pfeffer"></app-zutat>

        <app-zutat class="topspacer" menge="1 L" bezeichnung="Wasser"></app-zutat>
        <app-zutat menge="2 Tüten" bezeichnung="MAGGI Fix für Makkaroni Lasagne "></app-zutat>
        <app-zutat menge="1 Becher" bezeichnung="Creme fraiche"></app-zutat>
        <app-zutat menge="100 g" bezeichnung="Erbsen z.B. TK"></app-zutat>

        <app-zutat class="topspacer" menge="1 Tüte" bezeichnung="geriebener Mozzarella"></app-zutat>

    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung="größere Pfanne oder Topf"></app-zutat>
        <app-zutat menge="" bezeichnung="Herdplatte"></app-zutat>
        <app-zutat menge="" bezeichnung="Auflaufform"></app-zutat>
        <app-zutat menge="" bezeichnung="Backofen"></app-zutat>

    </div>


    <div class="schritte">
        <div>
            <a class="schrittüberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/langeMakkaroni.jpg" schrittuntertitelmenge="300 g"
                schrittuntertitel="lange Makkaroni"></app-schrittzutat> 
               
            </div>

            <div class="schrittbeschreibung">
                <a>Die langen Makkaroni einmal in der Mitte durchbrechen und in die Auflaufform geben.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 2</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Sonnenblumenöl.jpg" schrittuntertitelmenge=" etwas "
                schrittuntertitel="Sonnenblumenöl"></app-schrittzutat> 
               
                <app-schrittzutat schrittzutatenbild="assets/img/Hackfleisch.jpg" schrittuntertitelmenge="500 g"
                schrittuntertitel="Hackfleisch"></app-schrittzutat> 
               
                <app-schrittzutat schrittzutatenbild="assets/img/Salz.jpg" schrittuntertitelmenge=""
                schrittuntertitel="Salz"></app-schrittzutat> 
               
                <app-schrittzutat schrittzutatenbild="assets/img/Pfeffer.jpg" schrittuntertitelmenge=""
                schrittuntertitel="Pfeffer"></app-schrittzutat> 
                
            </div>

            <div class="schrittbeschreibung">
                <a>Das Hackfleisch in etwas Sonnenblumenöl kräftig anbraten. Mit Salz und Pfeffer würzen.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 3</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/MAGGIFixfürMakkaroniLasagne.jpg" schrittuntertitelmenge="2 Beutel"
                schrittuntertitel="Maggi Fix für Makkaroni Lasagne"></app-schrittzutat> 
                
                <app-schrittzutat schrittzutatenbild="assets/img/Wasser.jpg" schrittuntertitelmenge="1 L"
                schrittuntertitel="Wasser"></app-schrittzutat> 
               
                <app-schrittzutat schrittzutatenbild="assets/img/Erbsen.jpg" schrittuntertitelmenge="100 g"
                schrittuntertitel="Erbsen"></app-schrittzutat> 
               
                <app-schrittzutat schrittzutatenbild="assets/img/Cremefraiche.jpg" schrittuntertitelmenge="1/2 Becher"
                schrittuntertitel="Creme fraiche"></app-schrittzutat> 
               
            </div>

            <div class="schrittbeschreibung">
                <a> Das Wasser mit dem Maggi Fix zum Hackfleisch geben. Ebenso die Erbsen. Gemeinsam einmal aufkochen lassen.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 4</a>

            <div class="schrittzutaten">
                <div class="schrittzutat">
                </div>
            </div>

            <div class="schrittbeschreibung">
                <a>Die Hackfleischmischung zu den Makkaroni in die Auflaufform schütten und vermengen.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 5</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Cremefraiche.jpg" schrittuntertitelmenge="1/2 Becher"
                schrittuntertitel="Creme fraiche"></app-schrittzutat> 
               
                <app-schrittzutat schrittzutatenbild="assets/img/geriebenerMozzarella.jpg" schrittuntertitelmenge="1 Tüte"
                schrittuntertitel="geriebener Mozzarella"></app-schrittzutat> 
               
            </div>

            <div class="schrittbeschreibung">
                <a>Den restlichen Becher Creme fraiche in kleinen Klecksen auf dem Auflauf verteilen. Anschließend den geriebenen Mozzarella darüberstreuen. </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 6</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Backofen200Um30min.jpg" schrittuntertitelmenge=""
                schrittuntertitel=""></app-schrittzutat> 
                
            </div>

            <div class="schrittbeschreibung">
                <a>Das Ganze bei Umluft 200 °C für etwa 30 Minuten backen bis der Käse schön braun ist.</a>
            </div>
        </div>

    </div>

    <div class="abschluss">
        <a>Guten Appetit!</a>
    </div>

</div>