<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="ueberschrift">
        <a>Papaya dörren</a>
    </div>

    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="1" bezeichnung="Papaya"></app-zutat>

    </div>

    <div class="schritte">
        <div>
            <a class="schrittueberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Papaya.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="Papaya"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Zuerst die Papaya schälen und in duenne Scheiben schneiden. <br /> <br /> </a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 2</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Papayascheiben.jpg" schrittuntertitelmenge=""
                    schrittuntertitel=""></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Anschließend die Papayascheiben in den Dörrautomat legen. Die Fruechte sollten sich
                    nicht ueberlappen. Um ein Festkleben am Gitter zu vermeiden, sollte Dauerbackfolie
                    oder Backpapier verwendet werden. <br /> <br /> </a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 3</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/dörren10h50.jpg" schrittuntertitelmenge=""
                    schrittuntertitel=""></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a> Zum Schluss den Dörrautomat fuer 10 Stunden bei 50°C starten. <br /> <br /> </a>
            </div>
        </div>

    </div>

    <div class="abschluss">
        <a>Guten Appetit!</a>
    </div>

</div>