<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="überschrift">
        <a>Hefezopf zu Ostern </a>
    </div>

    <div class="überschriftbild">
        <img src="assets/img/HefezopfzuOstern.jpg">
    </div>

    <div class="überschrifttext">
        <a>Für mich gehört ein Hefezopf einfach zu Ostern dazu. Doch leider habe ich ziemlich lange für den perfekten
            Osterzopf gebraucht.
        </a>
    </div>

    <div class="unterschrifttext">
        <a>Er ist ideal als Kleinigkeit neben einer Ostertorte auf der Kaffeetafel oder auch zum Frühstück mit Marmelade
            geeignet.
        </a>
    </div>


    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="250 ml" bezeichnung="lauwarme Milch"></app-zutat>
        <app-zutat menge="1/2 Würfel" bezeichnung="Hefe"></app-zutat>
        <app-zutat menge="50 g" bezeichnung="Zucker"></app-zutat>
        <app-zutat menge="1/4" bezeichnung="Zitrone (Saft)"></app-zutat>
        <app-zutat menge="4" bezeichnung="Eier (getrennt)"></app-zutat>
        <app-zutat menge="500 g" bezeichnung="Weizenmehl"></app-zutat>
        <app-zutat menge="3 Tropfen" bezeichnung="Bittermandelöl oder Rum"></app-zutat>
        <app-zutat menge="10 g" bezeichnung="Salz"></app-zutat>
        <app-zutat menge="75 g" bezeichnung="weiche Butter"></app-zutat>

    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung="Topf"></app-zutat>
        <app-zutat menge="" bezeichnung="Mixer mit Knethaken"></app-zutat>
        <app-zutat menge="" bezeichnung="Backofen"></app-zutat>

    </div>


    <div class="schritte">
        <div>
            <a class="schrittüberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Milch.jpg" schrittuntertitelmenge="250 ml"
                    schrittuntertitel="Milch">
                </app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Zunächst die Milch erwärmen bis sie lauwarm ist. </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 2</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Hefe.jpg" schrittuntertitelmenge="1/2 Würfel"
                    schrittuntertitel="Hefe">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Zucker.jpg" schrittuntertitelmenge="50 g"
                    schrittuntertitel="Zucker">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Zitronensaft.jpg" schrittuntertitelmenge="1/4"
                    schrittuntertitel="Zitrone (Saft)">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Eier.jpg" schrittuntertitelmenge="1"
                    schrittuntertitel="Ei">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Eiweiß.jpg" schrittuntertitelmenge="1"
                    schrittuntertitel="Eiweiß">
                </app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Anschließend die zerbröselte Hefe, Zucker, Zitronensaft, ein ganzes Ei und ein Eiweiß hinzufügen. Die
                    Flüssigkeit glatt rühren. </a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 3</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Mehl.jpg" schrittuntertitelmenge="500 g"
                    schrittuntertitel="Mehl">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Rum.jpg" schrittuntertitelmenge="etwas"
                    schrittuntertitel="Rum">
                </app-schrittzutat>
            </div>
            <div class="schrittbeschreibung">
                <a>Das Mehl in eine große Schüssel füllen, Rum und die Milch-Hefe-Flüssigkeit hinzugeben. </a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 4</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Salz.jpg" schrittuntertitelmenge="10 g"
                    schrittuntertitel="Salz">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Butter.jpg" schrittuntertitelmenge="75 g"
                    schrittuntertitel="weiche Butter">
                </app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Mit den Knethaken der Küchenmaschine oder den Händen zu einem glatten Teig kneten. Währenddessen Salz
                    und weiche Butter untermengen.</a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 5</a>

            <div class="schrittzutaten">

            </div>
            <div class="schrittbeschreibung">
                <a>Eine weitere Schüssel mit Mehl ausstreuen und den Teig hineinlegen. Abgedeckt etwa 30 Minuten gehen
                    lassen. </a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 6</a>

            <div class="schrittzutaten">

            </div>
            <div class="schrittbeschreibung">
                <a>Den Teig aus der Schüssel nehmen, in drei gleichgroße Teile teilen und nocheinmal kräftig
                    durchkneten. </a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 7</a>

            <div class="schrittzutaten">

            </div>
            <div class="schrittbeschreibung">
                <a>Die Teile in Etappen zu langen Bahnen ausrollen. Anschließend von der Mitte zu beiden Enden hin
                    flechten, sodass ein Zopf entsteht. </a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 8</a>

            <div class="schrittzutaten">

            </div>
            <div class="schrittbeschreibung">
                <a>Den Hefezopf noch einmal für etwa eine halbe Studne abgedeckt gehen lassen.</a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 9</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Eigelb.jpg" schrittuntertitelmenge="1"
                    schrittuntertitel="Eigelb">
                </app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Eier.jpg" schrittuntertitelmenge="1"
                    schrittuntertitel="Ei">
                </app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Das Eigelb mit einem ganzen Ei vermengen und mit der Masse den Hefezopf einstreichen.</a>
            </div>

        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 10</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Backofen180OU35min.jpg"></app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Den Zopf bei 180 °C Ober-/Unterhitze für 35 Minuten backen. </a>
            </div>

        </div>

    </div>

    <div class="abschluss">
        <a>Guten Appetit!</a>
    </div>

</div>