@import "../styles/rezeptseite.scss";

    .schrittzutat {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: "schrittzutatenbild" "schrittuntertitelmenge" "schrittuntertitel";
    }

    .schrittzutatenbild {
        grid-area: schrittzutatenbild;
        width: 100%;
        height: 100%;
        max-width: 100px;
        margin: auto;
    }

    .schrittzutatenbild img {
        display: block;
        width: 75%;
        margin: auto;
        border-radius: 20px;
    }

    .schrittuntertitelmenge {
        grid-area: schrittuntertitelmenge;
        text-align: center;
        color: #000000;
        font-family: $font-familyStandard;
        font-size: $fontsizeFließtext;
        vertical-align: middle;
        display: grid;
    }

    .schrittuntertitel {
        grid-area: schrittuntertitel;
        text-align: center;
        color: #000000;
        font-family: $font-familyStandard;
        font-size: $fontsizeFließtext;
        vertical-align: middle;
        display: grid;
    }
