<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="ueberschrift">
        <a>Apfelkuchen mit Guss</a>
    </div>

    <div class="ueberschriftbild">
    </div>

    <div class="ueberschrifttext">
        <a>Der Teig dieses Kuchens ist sehr saftig und fluffig. Durch optionale Zutaten, wie Rosinen und Mandelsplitter,
            kann er individuell angepasst werden. Der Guss macht ihn zusätzlich besonders. Da Äpfel das ganze Jahr
            Saison haben - ein perfekter Kuchen fuer jede Jahreszeit!
        </a>
    </div>


    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="2" bezeichnung="Eier"></app-zutat>
        <app-zutat menge="150 g + 4 EL" bezeichnung="Zucker"></app-zutat>
        <app-zutat menge="1 Prise" bezeichnung="Salz"></app-zutat>
        <app-zutat menge="100 g" bezeichnung="Butter"></app-zutat>
        <app-zutat menge="150 g" bezeichnung="Mehl"></app-zutat>
        <app-zutat menge="1 TL" bezeichnung="Backpulver"></app-zutat>
        <app-zutat menge="150 g" bezeichnung="Creme fraíche"></app-zutat>

        <app-zutat class="topspacer" menge="1,5 kg" bezeichnung="säuerliche Äpfel"></app-zutat>
        <app-zutat menge="3 EL" bezeichnung="Zitronensaft"></app-zutat>

        <app-zutat class="topspacer" menge="3oo ml" bezeichnung="Apfelsaft"></app-zutat>
        <app-zutat menge="1 Pkg." bezeichnung="Vanillepuddingpulver zum Kochen"></app-zutat>
        <app-zutat menge="ggf." bezeichnung="Rosinen und Mandelsplitter"></app-zutat>

    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung="Mixer mit Schneebesen"></app-zutat>
        <app-zutat menge="" bezeichnung="Ruehrschuessel"></app-zutat>
        <app-zutat menge="" bezeichnung="Springform 26 cm"></app-zutat>
        <app-zutat menge="" bezeichnung="Messer"></app-zutat>
        <app-zutat menge="ggf." bezeichnung="Sparschäler"></app-zutat>
        <app-zutat menge="" bezeichnung="größerer Topf"></app-zutat>
        <app-zutat menge="" bezeichnung="Herdplatte"></app-zutat>
        <app-zutat menge="" bezeichnung="Backofen"></app-zutat>

    </div>


    <div class="schritte">
        <div>
            <a class="schrittueberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Springform.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="Springform (26 cm)"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Margarine.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="Margarine"></app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Zuerst die Springform etwas einfetten. <br /> <br /></a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 2</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Butter.jpg" schrittuntertitelmenge="100 g"
                    schrittuntertitel="weiche Butter"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Zucker.jpg" schrittuntertitelmenge="150 g"
                    schrittuntertitel="Zucker"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Salz.jpg" schrittuntertitelmenge="1 Prise"
                    schrittuntertitel="Salz"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Eier.jpg" schrittuntertitelmenge="2"
                    schrittuntertitel="Eier"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Fuer den Teig die Butter, Zucker und eine kleine Prise Salz cremig ruehren. Die Eier nacheinander
                    dazugeben und einruehren. <br /> <br /> </a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 3</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Mehl.jpg" schrittuntertitelmenge="150 g"
                    schrittuntertitel="Mehl"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Backpulver.jpg" schrittuntertitelmenge="1 TL"
                    schrittuntertitel="Backpulver"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Das Mehl und den Backpulver daruebersieben. <br /> <br /></a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 4</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Cremefraiche.jpg" schrittuntertitelmenge="150 g"
                    schrittuntertitel="Cremefraiche"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Nun die Creme Fraiche dazugeben und alles gut miteinander verruehren. <br /> <br /></a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 5</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Springform.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="Springform"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Den Apfelkuchen-Teig in die gefettete Form fuellen und glattstreichen. <br /> <br /></a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 6</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Äpfel.jpg" schrittuntertitelmenge="1,5 kg"
                    schrittuntertitel="Äpfel"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Die Äpfel schälen, vierteln und entkernen. Anschließend in Stuecke schneiden und in eine Schuessel
                    geben.<br /> <br /> </a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 7</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Zitrone.jpg" schrittuntertitelmenge="1/2"
                    schrittuntertitel="Zitrone"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Eine halbe Zitrone auspressen und die Äpfel damit beträufeln.<br /> <br /></a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 8</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Apfelsaft.jpg" schrittuntertitelmenge="5 EL"
                    schrittuntertitel="Apfelsaft"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Puddingpulver.jpg" schrittuntertitelmenge="1 Pkg."
                    schrittuntertitel="Vanillepuddingpulver"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Zucker.jpg" schrittuntertitelmenge="4 EL"
                    schrittuntertitel="Zucker"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Das Puddingpulver zusammen mit 4 EL Zucker und den 5 EL Apfelsaft glattruehren. <br /> <br /></a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 9</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Apfelsaft.jpg"
                    schrittuntertitelmenge="300 ml minus 5 EL" schrittuntertitel="Apfelsaft"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Den Apfelsaft in einem Topf erwärmen. Den Pudding in den kochenden Apfelsaft geben und einruehren. Das
                    Ganze fuer ca. 1 Minute köcheln lassen. <br /> <br /></a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 10</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Rosinen.jpg" schrittuntertitelmenge="ggf."
                    schrittuntertitel="Rosinen"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Mandelsplitter.jpg" schrittuntertitelmenge="ggf."
                    schrittuntertitel="Mandelsplitter"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Die Apfelstuecke unterruehren und den Topf vom Herd nehmen. Hier können auch noch nach Belieben Rosinen
                    und Mandelsplitter hinzugefuegt werden.<br /> <br /></a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 11</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Backofen180OU50min.jpg" schrittuntertitelmenge=""
                    schrittuntertitel=""></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Die Apfel-Pudding Masse auf den Teig verteilen.
                    Den Kuchen fuer ca. 50 Minuten bei 180 °C Ober-/Unterhitze backen lassen.
                </a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 12</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Mandelhobel.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="gehobelte Mandeln"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a> Nach etwa 50 Minuten die Mandeln ueber den Kuchen streuen
                    und weitere 10 Minuten backen.
                </a>
            </div>
        </div>

    </div>

    <div class="abschluss">
        <a>Guten Appetit!</a>
    </div>

</div>