<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="überschrift">
        <a>Nudelsalat mit Erbsen und Möhren</a>
    </div>

    <div class="überschriftbild">
    </div>

    <div class="überschrifttext">
        <a>Dieser Sommersalat zum Grillen kommt bei allen immer gut an und hält sich ein paar Tage im Kühlschrank.
        </a>
    </div>

    <div class="unterschrifttext">
        <a>Die Menge reicht für eine große Salatschüssel.
        </a>
    </div>

    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="500 g" bezeichnung="Spiralnudeln"></app-zutat>
        <app-zutat menge="1 Dose" bezeichnung="Erbsen/Möhren"></app-zutat>
        <app-zutat menge="1 Dose" bezeichnung="Ananas in Stücke"></app-zutat>
        <app-zutat menge="1 Glas" bezeichnung="Mayonnaise"></app-zutat>
        <app-zutat menge="" bezeichnung="Salz, Pfeffer, Curry"></app-zutat>

    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung="größerer Topf"></app-zutat>
        <app-zutat menge="" bezeichnung="Herdplatte"></app-zutat>

    </div>


    <div class="schritte">
        <div>
            <a class="schrittüberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Spiralnudeln.jpg" schrittuntertitelmenge="500 g"
                    schrittuntertitel="Spiralnudeln"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Zuerst die Nudeln nach Packungsanweisung etwa 12 Minuten in reichlich Salzwasser kochen und
                    anschließend abgießen.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 2</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/ErbsenMöhren.jpg" schrittuntertitelmenge="1 Dose"
                    schrittuntertitel="Erbsen/Möhren"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Die Flüssigkeit der Erbsen/Möhren Dose abgießen. Ggf. die Möhren noch etwas kleiner schneiden und zu den abgekühlten Nudeln geben.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 3</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/AnanasinStücke.jpg" schrittuntertitelmenge="1 Dose"
                    schrittuntertitel="Ananas in Stücken"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Die Ananasflüssigkeit abgießen und <u>auffangen</u>. Die Stücke und etwas der Flüssigkeit zum Salat geben.
                </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 4</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Mayonnaise.jpg" schrittuntertitelmenge="1 Glas"
                    schrittuntertitel="Mayonnaise"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Ebenfalls in die Salatschüssel kommt der Inhalt eines Mayonnaiseglases. Anschließend kräftig durchrühren.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 5</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Salz.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="Salz"></app-schrittzutat>

                    <app-schrittzutat schrittzutatenbild="assets/img/Pfeffer.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="Pfeffer"></app-schrittzutat>

                    <app-schrittzutat schrittzutatenbild="assets/img/Curry.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="Curry"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a> Abgeschmeckt wird mit Salz, Pfeffer und viel Currypulver. Am besten über Nacht ziehen lassen und am nächsten Tag noch einmal abschmecken. 
                </a>
            </div>

        </div>

    </div>

    <div class="abschluss">
        <a>Guten Appetit!</a>
    </div>

</div>