<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="überschrift">
        <a>Mangos dörren</a>
    </div>

    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="2" bezeichnung="Mangos"></app-zutat>

    </div>

    <div class="schritte">
        <div>
            <a class="schrittüberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/mango.jpeg" schrittuntertitelmenge="2"
                    schrittuntertitel="Mango"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Zuerst die Mangos schälen und in dünne Scheiben schneiden.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 2</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Mangoscheiben.JPG" schrittuntertitelmenge=""
                    schrittuntertitel="Mangoscheiben"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Anschließend die Mangoscheiben in den Dörrautomat legen. Die Früchte sollten sich nicht
                    überlappen.
                    Um ein Festkleben am Gitter zu vermeiden, sollte Dauerbackfolie oder Backpapier verwendet
                    werden.
                </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 3</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/dörren14h50.jpg" schrittuntertitelmenge=""
                    schrittuntertitel=""></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a> Zum Schluss den Dörrautomat für 14 Stunden bei 50°C starten. <br /> <br /> </a>
            </div>
        </div>

    </div>

    <div class="abschluss">
        <a>Guten Appetit!</a>
    </div>

</div>