<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home current">
        <a>Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">
     <div class="logo">
        <img src="assets/img/Logorundtransparent.png">
    </div>
    
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Dropdown</button>
        <div id="myDropdown" class="dropdown-content">
            <input type="text" placeholder="Search.." id="myInput"
            onkeyup="filderFunction()">
            <a href="#Flammkuchen"> Flammkuchen</a>
        </div>
    </div>

    <div class="überblog">
        <p class="fließtext textgrößefließtext">
            Hallihallo! <br /> 
            Ich liebe es zu backen und dann meine kleinen Meisterwerke zu fotografieren.
            Alle um mich herum bekommen dann zwar die Krise, aber das ist mir eigentlich ziemlich egal. <br />
            <br />
            Auf die Frage: "Was willst du denn mit den Bildern machen?" hatte ich nie so wirklich eine Antwort. <br />
            <br />
            Bis jetzt! <br />
            <br />
            Aus einer Langeweile heraus habe ich dieses Blog angefangen. Er bietet Platz für eine ordentliche Auswahl an Rezepten, setzt meine Bilder in Szene und sorgt für weniger Langeweile in meinem Leben. Ich würde sagen: Perfektes neues Projekt! <br />
            <br />
            Und nun wünsche ich euch:  <br />
            Viel Spaß beim Stöbern!!
     </p>
    </div>
</div>