<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="ueberschrift">
        <a>Möhrensuppe mit Ingwer und Kokosmilch</a>
    </div>

    <div class="ueberschriftbild">

    </div>

    <div class="ueberschrifttext">
        <a>Leichte angenehme Schärfe vom Ingwer, die durch Kokosmilch abgemildert wird. Diese Suppe ist schnell gemacht.
        </a>
    </div>

    <div class="unterschrifttext">
        <a>Dazu passen Garnelen und Brot!
        </a>
    </div>

    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="etwas" bezeichnung="Öl"></app-zutat>
        <app-zutat menge="1" bezeichnung="Zwiebel"></app-zutat>
        <app-zutat menge="1 kg" bezeichnung="Möhren"></app-zutat>
        <app-zutat menge="2" bezeichnung="Knoblauchzehen"></app-zutat>
        <app-zutat menge="30 g" bezeichnung="Ingwer"></app-zutat>
        <app-zutat menge="1 L" bezeichnung="Gemuesebruehe"></app-zutat>
        <app-zutat menge="250 ml" bezeichnung="Kokosmilch"></app-zutat>
        <app-zutat menge="" bezeichnung="Salz, Pfeffer"></app-zutat>


    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung="Messer"></app-zutat>
        <app-zutat menge="" bezeichnung="großer Topf"></app-zutat>
        <app-zutat menge="" bezeichnung="Herdplatte"></app-zutat>
        <app-zutat menge="" bezeichnung="Puerierstab"></app-zutat>

    </div>


    <div class="schritte">
        <div>
            <a class="schrittueberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Zwiebel.jpg" schrittuntertitelmenge="2"
                    schrittuntertitel="Zwiebeln"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Zunächst die Zwiebeln abziehen und fein wuerfeln.</a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 2</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Möhren.jpg" schrittuntertitelmenge="750 g"
                    schrittuntertitel="Möhren"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Die Möhren schälen und in Scheiben schneiden.</a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 3</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Öl.jpg" schrittuntertitelmenge="etwas"
                    schrittuntertitel="Öl"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Zwiebelwuerfel.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="Zwiebelwuerfel"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a> Das Öl in einem Topf zerlassen und die Zwiebelwuerfel darin anduensten.</a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 4</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Möhrenscheiben.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="Möhrenscheiben"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Möhrenscheiben hinzufuegen und etwa 5 Minuten darin anduensten. </a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 5</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Knoblauch.jpg" schrittuntertitelmenge="2"
                    schrittuntertitel="Knoblauchzehen"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Ingwer.jpg" schrittuntertitelmenge="30 g"
                    schrittuntertitel="Ingwer"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Knoblauch und Ingwer ist kleine Wuerfel schneiden und in den Topf geben. </a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 6</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Gemuesebruehe.jpg" schrittuntertitelmenge="1 L"
                    schrittuntertitel="Gemuesebruehe"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Gemuesebruehe hinzugießen, alles zum Kochen bringen und etwa 15 Minuten garen lassen.</a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 7</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Kokosmilch.jpg" schrittuntertitelmenge="250 ml"
                    schrittuntertitel="Kokosmilch"></app-schrittzutat>
            </div>

            <div class="schrittbeschreibung">
                <a>Die Kokosmilch hinzugießen und unterruehren.</a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 8</a>

            <div class="schrittzutaten">

            </div>

            <div class="schrittbeschreibung">
                <a>Die Suppe gruendlich puerieren. </a>
            </div>
        </div>

        <div>
            <a class="schrittueberschrift"> Schritt 9</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Salz.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="Salz"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Pfeffer.jpg" schrittuntertitelmenge=""
                    schrittuntertitel="Pfeffer"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Die Suppe mit Salz und Pfeffer abschmecken. </a>
            </div>
        </div>

    </div>

    <div class="abschluss">
        <a>Guten Appetit!</a>
    </div>

</div>