<div class="headercontainer">

    <div class="headerlogo">
        <img src="assets/img/Logorundtransparent.png">
    </div>

    <div class="home">
        <a routerLink="/home">Home</a>
    </div>

    <div class="meine-rezepte">
        <a routerLink="/meinerezepte">Meine Rezepte</a>
    </div>

    <div class="glossar">
        <a routerLink="/glossar">Glossar</a>
    </div>

</div>

<div class="gridcontainer">

    <div class="überschrift">
        <a>Bananenpancakes</a>
    </div>

    <div class="überschriftbild">
        <img src="assets/img/Bananenpancakes.jpg">
    </div>

    <div class="überschrifttext">
        <a>Diese Pancakes sind sehr fluffig und super als Frühstück geeignet. 
            Sie sind schnell gemacht und verwendet man Vollkornmehl halten sie auch noch sehr lange satt. 
        </a>
    </div>

    <div class="unterschrifttext">
        <a>Das Rezept ergibt etwa 30 kleine Pancakes. 
        </a>
    </div>


    <div class="zutaten">
        <u>Zutaten</u>

        <app-zutat menge="2" bezeichnung="Eier"></app-zutat>
        <app-zutat menge="1 EL" bezeichnung="Zucker"></app-zutat>
        <app-zutat menge="1 Prise" bezeichnung="Salz"></app-zutat>
        <app-zutat menge="1 Pkg." bezeichnung="Vanillezucker"></app-zutat>
        <app-zutat menge="1/2 TL" bezeichnung="Zimt"></app-zutat>
        <app-zutat menge="200 g" bezeichnung="Mehl"></app-zutat>
        <app-zutat menge="1 TL" bezeichnung="Backpulver"></app-zutat>
        <app-zutat menge="150 ml" bezeichnung="Milch"></app-zutat>

        <app-zutat class="topspacer" menge="2" bezeichnung="Bananen"></app-zutat>

        <app-zutat class="topspacer" menge="etwas" bezeichnung="Öl und Butter"></app-zutat>
 
        
    </div>

    <div class="utensilien">
        <u>Utensilien</u>

        <app-zutat menge="" bezeichnung="Mixer mit Schneebesen"></app-zutat>
        <app-zutat menge="" bezeichnung="Rührschüssel"></app-zutat>
        <app-zutat menge="" bezeichnung="Pfanne"></app-zutat>
        <app-zutat menge="" bezeichnung="Herdplatte"></app-zutat>

    </div>


    <div class="schritte">
        <div>
            <a class="schrittüberschrift"> Schritt 1</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Eier.jpg" schrittuntertitelmenge="2"
                    schrittuntertitel="Eier"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Zucker.jpg" schrittuntertitelmenge="1 EL"
                    schrittuntertitel="Zucker"></app-schrittzutat>

                    <app-schrittzutat schrittzutatenbild="assets/img/Salz.jpg" schrittuntertitelmenge="1 Prise"
                    schrittuntertitel="Salz"></app-schrittzutat>

                    <app-schrittzutat schrittzutatenbild="assets/img/Vanillezucker.jpg" schrittuntertitelmenge="1 Pkg."
                    schrittuntertitel="Vanillezucker"></app-schrittzutat>

                    <app-schrittzutat schrittzutatenbild="assets/img/Zimt.jpg" schrittuntertitelmenge="1/2 TL."
                    schrittuntertitel="Zimt"></app-schrittzutat>

            </div>
            <div class="schrittbeschreibung">
                <a>Die Eier, den Zucker, Vanillezucker, Salz und Zimt in eine Rührschüssel geben. Mit dem Schneebesen des Mixers schaumig schlagen.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 2</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Mehl.jpg" schrittuntertitelmenge="200 g"
                    schrittuntertitel="Mehl"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Backpulver.jpg" schrittuntertitelmenge="1 TL"
                    schrittuntertitel="Backpulver"></app-schrittzutat>

                <app-schrittzutat schrittzutatenbild="assets/img/Milch.jpg" schrittuntertitelmenge="150 ml"
                    schrittuntertitel="Milch"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Mehl, Backpulver und Milch in kleinen Portionen abwechselnd zur Ei-Zucker-Masse geben bis ein homogener Teig entsteht. </a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 3</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/bananen.jpeg" schrittuntertitelmenge="2"
                    schrittuntertitel="Bananen"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Die Bananen mit der Gabel auf einem Teller zermatschen und unter den Teig heben.</a>
            </div>
        </div>

        <div>
            <a class="schrittüberschrift"> Schritt 4</a>

            <div class="schrittzutaten">
                <app-schrittzutat schrittzutatenbild="assets/img/Sonnenblumenöl.jpg" schrittuntertitelmenge="etwas"
                    schrittuntertitel="Öl oder Butter"></app-schrittzutat>

            </div>

            <div class="schrittbeschreibung">
                <a>Etwas Öl oder Butter in einer Pfanne erhitzen und einen Teil des Teiges hineingeben. Wenden wenn die Unterseite appetitlich braun ist. 
                    <br/> <br/> <u>Tipp:</u> Für die kleinen Pancakes reicht etwa ein Esslöffel. Dann können etwa vier bis fünf pro Durchgang gebacken werden. </a>
            </div>
        </div>


    </div>

    <div class="abschluss">
        <a>Guten Appetit!</a>
    </div>

</div>